.spacing-right {
    margin-right: 10px;
}

.modal-footer {
    margin-bottom: 25px;
    padding-top: 0px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-footer button {
    width: 100%;
}