<div [class]="titleClass">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <label for="inputField" class="spacing-right">{{inputLabel}}</label>
    <input type="text" id="inputField" [(ngModel)]="inputString" name="inputField" #inputField="ngModel">
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="accent" *ngIf="button1" type="submit" [ngClass]="button1.class" (click)="close(inputString)">{{button1.label}}</button>
  </div>  
</form>