p Hallo #{userName},
p es wurde für Ihren Benutzer eine Passwort Zurücksetzung beantragt.

p Das neue Passwort lautet: #{password} 
p Sie können sich mit dem Passwort unter #{url} anmelden. Bitte ändern Sie das Passwort bei nächster Gelegenheit!

p Viele Grüße,
p Das System

