/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
    border-left: 10px solid #42A948;
    /* green */
}

.right {
    text-align: right;
}

.row {
    margin-right: 0px !important;
}

.table {
    margin-left: 7px !important;
}

.background-filler {
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5)),url('/assets/img/background.jpg') no-repeat center center fixed;
    /*background-image:  url('/assets/img/background.jpg');
    */
    background-size: 1cover;
    margin-left: 0px !important;
}

.dropdown-backdrop {
    position: absolute;
}

.table-spacing {
    margin: 30px;
}

.table-spacing-top {
    margin-top: 30px;
}

.table-spacing-bottom {
    margin-bottom: 30px;
}

.spacing {
    margin: 10px;
}

.spacing-xxl {
    margin: 40px;
}

.spacing-top {
    margin-top: 10px;
}

.spacing-top-xxl {
    margin-top: 20px;
}

.spacing-top-xxxl {
    margin-top: 40px;
}

.spacing-top-xxxxl {
    margin-top: 60px;
}

.spacing-top-xs {
    margin-top: 10px;
}

.spacing-left-xxl {
    margin-left: 30px;
}

.header-success {
    background-color: green;
    color: white;
}

.header-primary {
    color: white;
    background-color: #007bff;
}

.header-secondary {
    color: white;
    background-color: #6c757d;
}

.header-danger {
    color: white;
    background-color: #dc3545;
}

.header-warning {
    color: black;
    background-color: #ffc107;
}

.logo-row {
    width: 100%;
    margin-left:0px;
    margin-right: 0px;
}

.logo-row .col-sm {
    height: 40px;
    text-align: center;
}
html, body { height: 100%; }
html body { 
    margin: 0; 
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 20px; 
    line-height: 32px; 
    color: #334D5C; 
    font-weight: 400;
}
.normal-text {
    margin: 0; 
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 20px; 
    line-height: 32px; 
    color: #334D5C; 
    font-weight: 400;
}
body h1 {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 35px; 
    line-height: 47px; 
    color: #334D5C; 
    font-weight:300;
}
body .row {
	margin-left: 0px;
	margin-right: 0px;
}
body a {
    color: #334D5C;
}
body .mat-button-base {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.grid .mat-button-base.neutral {
    padding-left: 45px;
    padding-right: 45px;
}

body .mat-button-base {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 46%;
}
.button-bar .mat-secondary {
    float:right;
}

body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
    padding: 0px;
    margin: 0px;
}

.grid {
    width: 1148px;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (max-width: 1150px) {
    .grid {
        width: inherit;
        padding-left:50px;
        padding-right: 50px;
    }
}

.grid .indent-left {
    padding-left:58px;
} 
.grid .indent-right {
    padding-right:58px;
} 

.grid .indent-left-half {
    padding-left: 29px;
}

.grid .indent-right-half {
    padding-right: 29px;
}

mat-checkbox.wrap .mat-checkbox-label {
    white-space: normal;
}

mat-checkbox.wrap .mat-checkbox-inner-container {
    margin-top: auto;
    margin-bottom: auto;
}

mat-checkbox .mat-checkbox-frame {
    border-width: 1px;
    border-radius: 3px;
}

mat-checkbox .mat-checkbox-inner-container {
    width: 24px;
    height: 24px;
}

mat-checkbox .mat-checkbox-layout {
    display: inline-flex;
}

mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
    line-height: 32px;
}

body .mat-form-field:not(.mat-focused) mat-label {
    color: #c0cacf;
}

.mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-outline > div {
    border-color: #DF5A49;
}

@media only screen and (max-width: 1150px) {
    .grid .large-indent-left {
        padding-left: 0px !important;
    }
    .grid .large-indent-right {
        padding-right: 0px !important;
    }
}


.grid .large-indent-left {
    padding-left: 316px;
}
.grid .large-indent-right {
    padding-right: 316px;
}

.grid-3 {
    width: 1148px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.grid-3 .indent-left {
    padding-left: 50px;
}

.grid-3 .indent-right {
    padding-right: 50px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #45B29D;
}

.mat-raised-button.mat-secondary, .mat-fab.mat-secondary, .mat-mini-fab.mat-secondary {
    background-color: #DF5A49;
}

button.mat-primary:hover {
    background-color:#58C8B2;
}

button.mat-accent:hover {
    background-color: #F5705F;
}

button.mat-secondary {
    color: white;
}

.mat-button-base.neutral:hover {
    background-color: #649BBB;
}

a.mat-raised-button {
    text-decoration: none !important;
}

.mat-form-field {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif !important; 
}


.appcontainer .maincontainer >*:nth-child(2) >*:nth-child(1){
    padding-top: 58px;
    padding-bottom: 28px;
}

.maker {
    color: #45B29D;
}

.klinik {
    color: #DF5A49;
}

.neutral {
    color: #5286A4;
}

.neutral.mat-button-base {
    color: white;
    background-color: #5286A4;
}

.gray-box {
    background: #F7F7F7;
    -moz-box-shadow: 0 2px 14px rgba(209, 209, 209, 0.5);
    -webkit-box-shadow: 0 2px 14px rgba(209, 209, 209, 0.5);
    box-shadow: 0px 2px 14px rgba(209, 209, 209, 0.5);
    position: relative;
    z-index: 1;
}

.gray-box h1 {
    margin-bottom:35px;
}

.gray-box p {
    margin-bottom:30px;
}

.gray-box p a {
    color: #5286A4;
}

.spacer {
    display: flex;
}

.spacer .spacer-bar {
    height: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
}

body .gray-box:nth-child(1) {
    -moz-box-shadow: 0 12px 14px -14px rgba(209, 209, 209, 0.9);
    -webkit-box-shadow: 0 12px 14px -14px rgba(209, 209, 209, 0.9);
    box-shadow: 0px 12px 14px -14px rgba(209, 209, 209, 0.9);
}

.myMatInput {
    border-style:solid;
    border-width: 1px;
    border-color: #8a9ca6;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.myMatInput input, .myMatInput textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
}

body .modal-backdrop.show {
    opacity: .1;
}

body .modal-dialog {
    max-width: 700px;
    margin: 200px auto;
}


body .modal-footer {
    text-align: center;
}


body .modal-header, body .modal-body, body .modal-footer {
    border: none;
}

body .modal-title {
    padding: 20px;
    width: 100%;
    text-align:center;
}

body .modal-content {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
}

.ng-select input[type="text"] {
	caret-color: transparent;
}

.ng-select .ng-select-container {
    height: 50px !important;
}
body .modal-body {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
.text-mid {
    font-size: 17px;
    line-height: 24px;
}

.text-small {
    font-size: 16px;
    line-height: 26px;
}
.inputButtonCombi {
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.inputButtonCombi mat-form-field{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #45B29D;
    background-color: white;
    box-shadow: none;
}

body mat-form-field .mat-form-field-outline > div {
    border-width: 2px !important;
}

.inputButtonCombi mat-form-field .mat-form-field-underline {
    display: none;
}

.inputButtonCombi .mat-button-base{
    text-align:center;
    width: 40% !important;
    height: 100%;
    float:right;
    box-shadow: none;
}

.inputButtonCombi .mat-form-field-infix{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
}

body .mat-form-field-infix {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 20px; 
    border-top: 0.55em solid transparent;
}

.grid-3 {
    display: grid;
    grid-template-columns: 30.4878% 30.4878% 30.4878%;
    column-gap: 50px;
    row-gap: 50px;

    margin-bottom: 100px;
}

body .mat-form-field-type-mat-select .mat-form-field-wrapper{
    margin: 0px;
}

body .mat-form-field-type-mat-select .mat-form-field-outline div{
    border-width: 0px !important;
}

body .mat-form-field-type-mat-select {
    box-shadow: 0px 2px 4px #9E9E9E;
    border-radius: 5px;
}

body .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
body .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.59375em) scale(0.95);
}