/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
    border-left: 10px solid #42A948;
    /* green */
}

.ng-invalid:not(form),
.ng-invalid:not(form).ng-valid {
    border-left: 10px solid #a94442;
    /* red */
}

.right {
    text-align: right;
}

.row {
    margin-right: 0px !important;
}

.table {
    margin-left: 7px !important;
}

.background-filler {
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5)), url('/assets/img/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 0px !important;
}

.dropdown-backdrop {
    position: absolute;
}

.table-spacing {
    margin: 30px;
}

.table-spacing-top {
    margin-top: 30px;
}

.table-spacing-bottom {
    margin-bottom: 30px;
}

.spacing {
    margin: 10px;
}

.spacing-xxl {
    margin: 40px;
}

.spacing-top {
    margin-top: 10px;
}

.spacing-top-xxl {
    margin-top: 20px;
}

.spacing-top-xxxl {
    margin-top: 40px;
}

.spacing-top-xxxxl {
    margin-top: 60px;
}

.spacing-top-xs {
    margin-top: 10px;
}

.spacing-left-xxl {
    margin-left: 30px;
}

.header-success {
    background-color: green;
    color: white;
}

.header-primary {
    color: white;
    background-color: #007bff;
}

.header-secondary {
    color: white;
    background-color: #6c757d;
}

.header-danger {
    color: white;
    background-color: #dc3545;
}

.header-warning {
    color: black;
    background-color: #ffc107;
}

.logo-row {
    width: 100%;
    margin-left:0px;
    margin-right: 0px;
}

.logo-row .col-sm {
    height: 40px;
    text-align: center;
}