/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
    border-left: 10px solid #42A948;
    /* green */
}

.ng-invalid:not(form),
.ng-invalid:not(form).ng-valid {
    border-left: 10px solid #a94442;
    /* red */
}

.right {
    text-align: right;
}

.row {
    margin-right: 0px !important;
}

.table {
    margin-left: 7px !important;
}

.background-filler {
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5)),url('/assets/img/background.jpg') no-repeat center center fixed;
    /*background-image:  url('/assets/img/background.jpg');
    */
    background-size: 1cover;
    margin-left: 0px !important;
}

.dropdown-backdrop {
    position: absolute;
}

.table-spacing {
    margin: 30px;
}

.table-spacing-top {
    margin-top: 30px;
}

.table-spacing-bottom {
    margin-bottom: 30px;
}

.spacing {
    margin: 10px;
}

.spacing-xxl {
    margin: 40px;
}

.spacing-top {
    margin-top: 10px;
}

.spacing-top-xxl {
    margin-top: 20px;
}

.spacing-top-xxxl {
    margin-top: 40px;
}

.spacing-top-xxxxl {
    margin-top: 60px;
}

.spacing-top-xs {
    margin-top: 10px;
}

.spacing-left-xxl {
    margin-left: 30px;
}

.header-success {
    background-color: green;
    color: white;
}

.header-primary {
    color: white;
    background-color: #007bff;
}

.header-secondary {
    color: white;
    background-color: #6c757d;
}

.header-danger {
    color: white;
    background-color: #dc3545;
}

.header-warning {
    color: black;
    background-color: #ffc107;
}

.logo-row {
    width: 100%;
    margin-left:0px;
    margin-right: 0px;
}

.logo-row .col-sm {
    height: 40px;
    text-align: center;
}
html, body { height: 100%; }
html body { 
    margin: 0; 
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 20px; 
    line-height: 32px; 
    color: #334D5C; 
    font-weight: 400;
}
.normal-text {
    margin: 0; 
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 20px; 
    line-height: 32px; 
    color: #334D5C; 
    font-weight: 400;
}
body h1 {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif; 
    font-size: 35px; 
    line-height: 47px; 
    color: #334D5C; 
    font-weight:300;
}
body .row {
	margin-left: 0px;
	margin-right: 0px;
}
body a {
    color: #334D5C;
}
body .mat-button-base {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.grid .mat-button-base {
    min-width: 46%;
    padding-top: 7px;
    padding-bottom: 7px;
}
.button-bar .mat-secondary {
    float:right;
}

body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
    padding: 0px;
    margin: 0px;
}

.grid {
    width: 1148px;
    margin-left:auto;
    margin-right:auto;
    
}
.grid .indent-left {
    padding-left:58px;
} 
.grid .indent-right {
    padding-right:58px;
} 

.grid .large-indent-left {
    padding-left: 316px;
}
.grid .large-indent-right {
    padding-right: 316px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #45B29D;
}
 .mat-raised-button.mat-secondary, .mat-fab.mat-secondary, .mat-mini-fab.mat-secondary {
    background-color: #DF5A49;
}

body #navButton {
    display:none;
}

body .appcontainer .maincontainer{
    margin-top: 58px;
}

.maker {
    color: #45B29D;
}

.klinik {
    color: #DF5A49;
}
