<router-outlet></router-outlet>
<div class="row spacing">
  <div class="col-md-12 text-center">
    <h1>{{translationFields.title}}</h1>
  </div>
  <div class="container text-left">
    <app-back-button></app-back-button>
  </div>
</div>
<div class="row spacing">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #createUserForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="username">{{translationFields.labels.username}}</label>
          <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username"
            #username="ngModel">
          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            {{translationFields.messages.username}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="firstname">{{translationFields.labels.firstName}}</label>
          <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname"
            #firstname="ngModel">
          <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
            {{translationFields.messages.firstName}}
          </div>
        </div>
        <div class="col-md-6">
          <label for="lastname">{{translationFields.labels.secondName}}</label>
          <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname"
            #lastname="ngModel">
          <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
            {{translationFields.messages.secondName}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="password">{{translationFields.labels.password}}</label>
          <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password"
            #password="ngModel">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            {{translationFields.messages.password}}
          </div>
        </div>
        <div class="col-md-6">
          <label for="validation">{{translationFields.labels.passwordValidation}}</label>
          <input type="password" class="form-control" id="validation" required [(ngModel)]="user.passwordValidation"
            name="validation" #validation="ngModel">
          <div [hidden]="validation.valid || validation.pristine" class="alert alert-danger">
            {{translationFields.messages.passwordValidation}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="email">{{translationFields.labels.email}}</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            {{translationFields.messages.email}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="role">{{translationFields.labels.role}}</label>
          <ng-select [loading]="loadingRoles" [items]=translationFields.shownRoles [(ngModel)]="user['shownRole']" id="role"
            name="role" #role="ngModel" (change)="roleChanged(user['shownRole'])" required>
          </ng-select>
          <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
            {{translationFields.messages.role}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="street">{{translationFields.labels.street}}</label>
          <input type="text" class="form-control" id="street" [(ngModel)]="user.address.street" name="street" #street="ngModel">
          <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
            {{translationFields.messages.street}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="zipCode">{{translationFields.labels.zipCode}}</label>
          <input type="text" class="form-control" id="zipCode" [(ngModel)]="user.address.zipCode" name="zipCode"
            #zipCode="ngModel">
          <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
            {{translationFields.messages.zipCode}}
          </div>
        </div>
        <div class="col-md-8">
          <label for="city">{{translationFields.labels.city}}</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="user.address.city" name="city" #city="ngModel">
          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            {{translationFields.messages.city}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="country">{{translationFields.labels.country}}</label>
          <input type="text" class="form-control" id="country" [(ngModel)]="user.address.country" name="country"
            #country="ngModel">
          <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
            {{translationFields.messages.country}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createUserForm.form.valid">{{translationFields.labels.submit}}</button>
    </form>
  </div>
</div>