<div class="gray-box mb-130">
    <div class="grid description">
        <div class="col-12 col-lg-6 indent-right">
            <h1>Presse</h1>
            <ul class="toc list-with-arrows mb-90">
                <li><a href="#who"><strong>Beschreibung</strong> –  Wer sind print4life?</a></li>
                <li><a href="#material"><strong>Pressematerial</strong> – Download von Logos, Bildmaterial und Pressebildern, die für eine Berichterstattung über print4life verwendet werden können</a></li>
                <li><a href="#kontakt"><strong>Pressekontakt</strong> – Für Presseanfragen</a></li>
                <li><a href="#pm"><strong>Pressemitteilungen</strong> – Archiv von Berichten, Newsletter-Einträgen, Social Media Beiträgen, Funk- und Fernsehbeiträgen etc.</a></li>
            </ul>
        
        
        </div>
  
    </div>
</div>

<div class="grid press">
    <div class="row mb-130" id="who">
        <div class="col-sm-3">
            <h3 class=blue>Beschreibung</h3>
        
        </div>
        <div class="col-sm-6">
            <h3 class="mb-70">Wer sind print4life?</h3>
                <p>Das Team print4life, eine Gruppe von Makern aus Lübeck, entwickelte im Rahmen des Hackathons der Bundesregierung eine OrdersPlattform, 
                    um Fertigungsaufträge zentralisiert zu verwalten. Die Plattform ist international einsetzbar und ermöglicht es somit Makern europaweit,
                     die Bekämpfung des Corona-Virus zu unterstützen und Leben zu retten.</p>

                    <p>    Die Idee unserer Plattform fand großen Anklang – das Projekt wurde von der Jury in die TOP 20 gewählt und wird auf der Website des 
                        Hackathons direkt an dritter Stelle vorgestellt. Mit der Nominierung werden wir als Teil des Solution-Enabler-Programms zur weiteren 
                        Umsetzung gefördert. Zusätzlich durften wir durch diese Auszeichnung einen erneuten Schwung Aufmerksamkeit und großen Zuspruch erleben.</p>
                    
                        <p>   Wir arbeiten weiterhin ehrenamtlich unter Hochdruck daran mit unserer Plattform gegen die Versorgungslücken und Liefer-Engpässe 
                            von lebenswichtigen Verbrauchsmaterialien anzukämpfen und damit die Behandlung von Erkrankten zu unterstützen oder Menschen in 
                            systemrelevanten Berufen mit den wichtigen Ausrüstungsteilen auszustatten.</p>
        
        
        </div>
    </div>

    <div class="row mb-130" id=material>
        <div class="col-sm-3">
            <h3 class=blue>Pressematerial</h3>
        
        </div>
        <div class="col-sm-9">
            <h3 class=mb-70>Logo</h3>
                

                <div class="row mb-90">
                    <div class="col-sm-4 mb-70">
                      
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <h3 class=mb-70>Bildmaterial</h3>
        
        
                <div class="row">
                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                            <p>3D Drucker arbeitet an einem neuen Faceshield im Fablab Lübeck unter Aufsicht von Maker X</p>
                        </div>
                       
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <img src="http://placehold.it/400">
                            <ul>
                                <li><a href="#">jpg 150 kb</a></li>
                                <li><a href="#">pdf 150 kb</a></li>
                            </ul>
                            <p>3D Drucker arbeitet an einem neuen Faceshield im Fablab Lübeck unter Aufsicht von Maker X</p>
                        </div>
                    
                    </div>

                </div>
        </div>
    </div>
<!--
    <div class="row mb-130" id=kontakt>
        <div class="col-sm-3">
            <h3 class=blue>Pressekontakt</h3>
        
        </div>
        <div class="col-sm-6">
            <p>0123 456789<br>
                <a class="link-blue" href="mailto:presse@print4.life">presse@print4.life</a></p>
        </div>
    </div>
   --> 

    <div class="row mb-130" id=pm>
        <div class="col-sm-3">
            <h3 class=blue>Presse&shy;mitteilungen</h3>
        
        </div>
        <div class="col-sm-9">
          
            <ul class=pm>
                <li>
                    <div class="pm-meta">HL-live, 21.04.2020</div>
                    <div class="pm-title"><a href="https://www.hl-live.de/aktuell/text.php?id=137713">
                        FabLab unterstützt das Gesundheitswesen</a></div>
                </li>
                <li>
                    <div class="pm-meta">Technische Hochschule Lübeck, 14.04.2020</div>
                    <div class="pm-title"><a href="https://www.th-luebeck.de/hochschule/aktuelles/neuigkeiten/beitrag/2020-04-14-luebeck-gemeinsam-gegen-corona/">
                        Campus-Projekt des FabLab Lübeck e.V. „Print4Life“ unterstützt mit 3D-Druck</a></div>
                </li>
                <li>
                    <div class="pm-meta">Der Tagesspiegel, 07.04.2020</div>
                    <div class="pm-title"><a href="https://www.tagesspiegel.de/wirtschaft/kreative-erfindungen-in-der-coronakrise-wenn-die-taucherbrille-zur-atemmaske-wird/25719212.html">
                        Kreative Erfindungen in der Coronakrise – Wenn die Taucherbrille zur Atemmaske wird</a></div>
                </li>
                <li>
                    <div class="pm-meta">Deutsches Ärzteblatt, 01.04.2020</div>
                    <div class="pm-title"><a href="https://www.aerzteblatt.de/nachrichten/111528/Hackathon-foerdert-digitale-Loesungen-fuer-Krisenzeiten">
                        Hackathon fördert digitale Lösungen für Krisenzeiten</a></div>
                </li>
                <li>
                    <div class="pm-meta">Computerwoche, 01.04.2020</div>
                    <div class="pm-title"><a href="https://www.computerwoche.de/a/hackathon-gegen-die-coronavirus-krise,3548708">
                        Hackathon gegen die Coronavirus-Krise</a></div>
                </li>
                <li>
                    <div class="pm-meta">Technikzentrum Lübeck, 27.03.2020</div>
                    <div class="pm-title"><a href="https://www.tzl.de/3d-druck/gemeinsam-gegen-corona-ein-team-von-makerinnen-aus-luebeck-nimmt-mit-dem-projekt-print4life-am-hackathon-wirvsvirus-der-bundesregierung-teil/">
                        Gemeinsam gegen Corona – Ein Team von MakerInnen aus Lübeck nimmt mit dem Projekt Print4Life am Hackathon #WirVsVirus der Bundesregierung teil	</a></div>
                </li>

            </ul>


        </div>
    </div>

</div>