<div class="gray-box mb-130">
    <div class="grid description">
        <div class="col-12 col-lg-6">
            <h1>Presse</h1>
            <ul class="toc list-with-arrows mb-90">
                <li><a href="#who"><strong>Beschreibung</strong> –  Wer sind print4life?</a></li>
                <li><a href="#material"><strong>Pressematerial</strong> – Download von Logos, Bildmaterial und Pressebildern, die für eine Berichterstattung über print4life verwendet werden können</a></li>
                <li><a href="#kontakt"><strong>Pressekontakt</strong> – Für Presseanfragen</a></li>
                <li><a href="#pm"><strong>Pressemitteilungen</strong> – Archiv von Berichten, Newsletter-Einträgen, Social Media Beiträgen, Funk- und Fernsehbeiträgen etc.</a></li>
            </ul>
        
        
        </div>
  
    </div>
</div>

<div class="grid press">
    <div class="row mb-130" id="who">
        <div class="col-lg-3">
            <h3 class=blue>Beschreibung</h3>
        
        </div>
        <div class="col-lg-6">
            <h3 class="mb-70">Wer sind print4life?</h3>
                <p>Das Team print4life, eine Gruppe von Makern aus Lübeck, entwickelte im Rahmen des Hackathons der Bundesregierung eine OrdersPlattform, 
                    um Fertigungsaufträge zentralisiert zu verwalten. Die Plattform ist international einsetzbar und ermöglicht es somit Makern europaweit,
                     die Bekämpfung des Corona-Virus zu unterstützen und Leben zu retten.</p>

                    <p>    Die Idee unserer Plattform fand großen Anklang – das Projekt wurde von der Jury in die TOP 20 gewählt und wird auf der Website des 
                        Hackathons direkt an dritter Stelle vorgestellt. Mit der Nominierung werden wir als Teil des Solution-Enabler-Programms zur weiteren 
                        Umsetzung gefördert. Zusätzlich durften wir durch diese Auszeichnung einen erneuten Schwung Aufmerksamkeit und großen Zuspruch erleben.</p>
                    
                        <p>   Wir arbeiten weiterhin ehrenamtlich unter Hochdruck daran mit unserer Plattform gegen die Versorgungslücken und Liefer-Engpässe 
                            von lebenswichtigen Verbrauchsmaterialien anzukämpfen und damit die Behandlung von Erkrankten zu unterstützen oder Menschen in 
                            systemrelevanten Berufen mit den wichtigen Ausrüstungsteilen auszustatten.</p>
        
        
        </div>
    </div>

    <div class="row mb-130" id=material>
        <div class="col-lg-3">
            <h3 class=blue>Pressematerial</h3>
        
        </div>
        <div class="col-lg-9">
            <h3 class=mb-70>Logo</h3>
                

                <div class="row mb-90">
                    <div class="col-sm-4 mb-70">
                      
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-4c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-4c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-4c.jpg" download>jpg 91 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-4c.png" download>png 14 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-4c.pdf" download>pdf 220 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-4c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-landscape-4c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-landscape-4c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-4c.jpg" download>jpg 107 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-4c.png" download>png 18 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-4c.pdf" download>pdf 211 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-4c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/print4life-logo-wortmarke-1c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-wortmarke-1c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-wortmarke-1c.jpg" download>jpg 51 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-wortmarke-1c.png" download>png 7 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-wortmarke-1c.pdf" download>pdf 211 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-wortmarke-1c.svg" download>svg 6 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-1c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-1c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-1c.jpg" download>jpg 89 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-1c.png" download>png 14 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-1c.pdf" download>pdf 220 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-1c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-landscape-1c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-landscape-1c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-1c.jpg" download>jpg 104 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-1c.png" download>png 18 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-1c.pdf" download>pdf 210 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-1c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                           <a href="assets/img/presse/logos/print4life-logo-bildmarke-1c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-bildmarke-1c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-1c.jpg" download>jpg 54 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-1c.png" download>png 9 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-1c.pdf" download>pdf 205 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-1c.svg" download>svg 1 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-negativ-2c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-negativ-2c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-negativ-2c.jpg" download>jpg 89 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-negativ-2c.png" download>png 13 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-negativ-2c.pdf" download>pdf 218 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-negativ-2c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-landscape-negativ-2c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-landscape-negativ-2c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-negativ-2c.jpg" download>jpg 102 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-negativ-2c.png" download>png 17 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-negativ-2c.pdf" download>pdf 210 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-landscape-negativ-2c.svg" download>svg 7 kb</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/logos/print4life-logo-bildmarke-negativ-2c.jpg" download><img src="assets/img/presse/logos/thumbnails/print4life-logo-bildmarke-negativ-2c.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-negativ-2c.jpg" download>jpg 54 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-negativ-2c.png" download>png 8 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-negativ-2c.pdf" download>pdf 203 kb</a></li>
                                <li><a href="assets/img/presse/logos/print4life-logo-bildmarke-negativ-2c.svg" download>svg 1 kb</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <h3 class=mb-70>Bildmaterial</h3>
        
        
                <div class="row">
                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-3d-drucken.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-3d-drucken.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-3d-drucken.jpg" download>jpg 1,8 mb</a></li>
                            </ul>
                            <p>Lasercutter des FabLab Lübeck beim Schneiden von Faceshield-Visieren aus PET</p>
                        </div>
                       
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-3d-drucker.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-3d-drucker.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-3d-drucker.jpg" download>jpg 1,5 mb</a></li>
                            </ul>
                            <p>3D-Drucker Prusa i3 MK3S beim Druck eines Visierhalters (Prusa RC3)</p>
                        </div>
                    
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-faceshields_links-prusa_rechts-fl-shield.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-faceshields_links-prusa_rechts-fl-shield.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-faceshields_links-prusa_rechts-fl-shield.jpg" download>jpg 1,1 mb</a></li>
                            </ul>
                            <p>Gesichtsvisiere: Prusa RC3 (links) und Visier des FabLab Lübeck (rechts)</p>
                        </div>
                    
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-in-arbeit.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-in-arbeit.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-in-arbeit.jpg" download>jpg 995 kb</a></li>
                            </ul>
                            <p>Visierhalter Prusa RC3 aus PETG in verschiedenen Farben</p>
                        </div>
                    
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-maschinen.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-maschinen.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-maschinen.jpg" download>jpg 1,3 mb</a></li>
                            </ul>
                            <p>3D-Drucker Prusa i3 MK3S beim Druck von Visierhaltern (Prusa RC3)</p>
                        </div>
                    
                    </div>


                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-Prusas.png" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-Prusas.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-Prusas.png" download>png 2,9 mb</a></li>
                            </ul>
                            <p>3D-Drucker beim Drucken des FabLab-Visierhalters, zwei Halter pro Drucker möglich</p>
                        </div>
                    
                    </div>


                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-shields.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-shields.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-shields.jpg" download>jpg 1,1 mb</a></li>
                            </ul>
                            <p>Varianten des FabLab-Faceshields: Links mit Lochgummi, rechts mit Bundgummi</p>
                        </div>
                    
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-verpacken.jpg" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-verpacken.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-verpacken.jpg" download>jpg 2,7 mb</a></li>
                            </ul>
                            <p>Versandkarton mit 20 gereinigten und montierten FabLab-Faceshields</p>
                        </div>
                    
                    </div>

                    <div class="col-sm-4 mb-70">
                        <div class="logo-card">
                            <a href="assets/img/presse/bilder/print4life-pressematerial-visierhalter.png" download><img src="assets/img/presse/bilder/thumbnails/print4life-pressematerial-visierhalter.jpg"></a>
                            <ul>
                                <li><a href="assets/img/presse/bilder/print4life-pressematerial-visierhalter.png" download>png 11,6 mb</a></li>
                            </ul>
                            <p>FabLab-Visierhalter in print4life-Farben, frisch aus dem 3D-Drucker
                                “Einer für alle, alle für einen.”</p>
                        </div>
                    
                    </div>


                </div>
        </div>
    </div>

    <div class="row mb-130" id=kontakt>
        <div class="col-lg-3">
            <h3 class=blue>Pressekontakt</h3>
        
        </div>
        <div class="col-lg-6">
            <p>Martin Hamann<br>
                <a class="link-blue" href="mailto:info@print4.life">info@print4.life</a></p>
        </div>
    </div>


    <div class="row mb-130" id=pm>
        <div class="col-lg-3">
            <h3 class=blue>Presse&shy;mitteilungen</h3>
        
        </div>
        <div class="col-lg-9">
          
            <ul class=pm>

                <li>
                    <div class="pm-meta">Digitale Exzellenz, 11.05.2020</div>
                    <div class="pm-title"><a href="https://www.digitale-exzellenz.de/blogparade-dauerhaft-kreativer-aus-der-krise/">
                        Neue Blogparade: Wie kommen wir dauerhaft kreativer aus der Krise?</a></div>
                </li>
                <li>
                    <div class="pm-meta">NDR Kultur, 27.04.2020</div>
                    <div class="pm-title">
                        Interview-Beitrag mit Marcel und Andre im FabLab Lübeck</div>
                </li>
                <li>
                    <div class="pm-meta">unglaublich wichtig, 24.04.2020</div>
                    <div class="pm-title"><a href="https://unglaublich-wichtig.de/luebeck-gemeinsam-gegen-corona/">
                        Lübeck gemeinsam gegen Corona – "print4life" unterstützt mit 3D-Druck</a></div>
                </li>
                <li>
                    <div class="pm-meta">Digitale Wirtschaft Schleswig-Holstein, 22.04.2020</div>
                    <div class="pm-title"><a href="https://www.diwish.de/newsarchiv/diwish-mitglieder-helfen-der-regionalen-wirtschaft.html">
                        DiWiSH-Mitglieder helfen der regionalen Wirtschaft</a></div>
                </li>
                <li>
                    <div class="pm-meta">HL-live, 21.04.2020</div>
                    <div class="pm-title"><a href="https://www.hl-live.de/aktuell/text.php?id=137713">
                        FabLab unterstützt das Gesundheitswesen</a></div>
                </li>
                <li>
                    <div class="pm-meta">health innovation hub, 17.04.2020</div>
                    <div class="pm-title"><a href="https://corona-digital.de/plattform-fuer-hilfsmittel-aus-dem-3d-drucker/">
                        Plattform für Hilfsmittel aus dem 3D-Drucker</a></div>
                </li>
                <li>
                    <div class="pm-meta">Social Startup Magazin, 17.04.2020</div>
                    <div class="pm-title"><a href="https://www.social-startups.de/wirvsvirus/">
                        #WirVsVirus Hackathon – Gemeinsam gegen die Krise</a></div>
                </li>
                <li>
                    <div class="pm-meta">Tagesspiegel Background, 17.04.2020</div>
                    <div class="pm-title"><a href="https://background.tagesspiegel.de/digitalisierung/hackathon-projekte-unterstuetzung-laeuft-nur-langsam-an">
                        Hackathon-Projekte: Unterstützung läuft nur langsam an</a></div>
                </li>
                <li>
                    <div class="pm-meta">Healthcare Startups Deutschland, 14.04.2020</div>
                    <div class="pm-title"><a href="https://healthcare-startups.de/wirvsvirushack-jetzt-umsetzung-der-ergebnisse-im-kampf-gegen-covid19/">
                        WirVsVirusHack: jetzt Umsetzung der Ergebnisse im Kampf gegen Covid19</a></div>
                </li>
                <li>
                    <div class="pm-meta">Technische Hochschule Lübeck, 14.04.2020</div>
                    <div class="pm-title"><a href="https://www.th-luebeck.de/hochschule/aktuelles/neuigkeiten/beitrag/2020-04-14-luebeck-gemeinsam-gegen-corona/">
                        Campus-Projekt des FabLab Lübeck e.V. „Print4Life“ unterstützt mit 3D-Druck</a></div>
                </li>
                <li>
                    <div class="pm-meta">Der Tagesspiegel, 07.04.2020</div>
                    <div class="pm-title"><a href="https://www.tagesspiegel.de/wirtschaft/kreative-erfindungen-in-der-coronakrise-wenn-die-taucherbrille-zur-atemmaske-wird/25719212.html">
                        Kreative Erfindungen in der Coronakrise – Wenn die Taucherbrille zur Atemmaske wird</a></div>
                </li>
                <li>
                    <div class="pm-meta">Netzpolitik.org, 02.04.2020</div>
                    <div class="pm-title"><a href="https://netzpolitik.org/2020/die-naechsten-schritte-vom-sprint-zum-marathon/">
                        #wirvsvirus-Hackathon – Die nächsten Schritte vom Sprint zum Marathon</a></div>
                </li>
                <li>
                    <div class="pm-meta">BioMedTech Wissenschaftscampus, 01.04.2020</div>
                    <div class="pm-title"><a href="https://bio-med-tec.de/luebecker-fablab-team-gehoert-zu-den-preistraegern-des-hackathons-wirvsvirus/">
                        Lübecker FabLab-Team gehört zu den Preisträgern des Hackathons #WirVsVirus</a></div>
                </li>
                <li>
                    <div class="pm-meta">Deutsches Ärzteblatt, 01.04.2020</div>
                    <div class="pm-title"><a href="https://www.aerzteblatt.de/nachrichten/111528/Hackathon-foerdert-digitale-Loesungen-fuer-Krisenzeiten">
                        Hackathon fördert digitale Lösungen für Krisenzeiten</a></div>
                </li>
                <li>
                    <div class="pm-meta">Computerwoche, 01.04.2020</div>
                    <div class="pm-title"><a href="https://www.computerwoche.de/a/hackathon-gegen-die-coronavirus-krise,3548708">
                        Hackathon gegen die Coronavirus-Krise</a></div>
                </li>
                <li>
                    <div class="pm-meta">Technikzentrum Lübeck, 27.03.2020</div>
                    <div class="pm-title"><a href="https://www.tzl.de/3d-druck/gemeinsam-gegen-corona-ein-team-von-makerinnen-aus-luebeck-nimmt-mit-dem-projekt-print4life-am-hackathon-wirvsvirus-der-bundesregierung-teil/">
                        Gemeinsam gegen Corona – Ein Team von MakerInnen aus Lübeck nimmt mit dem Projekt Print4Life am Hackathon #WirVsVirus der Bundesregierung teil	</a></div>
                </li>

            </ul>


        </div>
    </div>

</div>