<router-outlet></router-outlet>
<div *ngIf="listView">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-success spacing-top-xxl spacing-left-xxl" [routerLink]="newLink">
                <fa-icon [icon]="plusIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-table (buttonEvent)="eventHandler($event)" [items]="machines"></app-table>
        </div>
    </div>
</div>