p Hallo #{userName},

p du hast dich mit deiner Emailadresse #{userEmail} bei print4life registriert. 
p Dein Benutzerkonto ist zur Zeit deaktiviert. Du kannst dein Konto freischalten, indem du folgendem Link folgst: #[a(href=url) Link] !

p Solltest du dieses Konto nicht angelegt haben, ignoriere diese Email einfach.

p Viele Grüße,
p dein print4life-Team