p Hallo #{userName},

p du hast dich mit deiner Emailadresse #{userEmail} beim Auftragsverwaltungssystem des Fablabs registriert. Dein Benutzeraccount ist zur Zeit deaktiviert. Du kannst deinen Account freischalten, indem du folgendem Link folgst: #[a(href=url) Link] !

p Viele Grüße,
p Das Auftragsverwaltungsystem