<div class="appcontainer">
    <app-navigation></app-navigation>
    <div class="maincontainer">
        <router-outlet></router-outlet>
    </div>
    
    <footer class="footer gray-box">
        <div class="links grid">
            <div class="col-12 col-xl-6 indent-left indent-right">
                <div class="col-12 col-md-6">
                    <ul>
                        <li>
                            <a>Über Print4Life</a>
                        </li>
                        <li>
                            <a>FAQ</a>
                        </li>
                        <li>
                            <a>Kontakt</a>
                        </li>
                        <li>
                            <a>Presse</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul>
                        <li>
                            <a [routerLink]="[privacyRoute]">Datenschutzerklärung</a>
                        </li>
                        <li>
                            <a>AGB</a>
                        </li>
                        <li>
                            <a [routerLink]="[legalNoticeRoute]">Impressum</a>
                        </li>
                        <li>
                            <a>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-xl-6 indent-left indent-right">
                <div class="col-12 col-md-6">
                    <ul>
                        <li>
                            <a>Wie funktioniert`s?</a>
                        </li>
                        <li>
                            <a>Wer kann mitmachen?</a>
                        </li>
                        <li>
                            <a>Produktbeispiele</a>
                        </li>
                        <li>
                            <a>Newsletter abonnieren</a>
                        </li>
                        <li>
                            <a>Newsticker</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 logo">
                    <div>
                        <a href="index.html">
                            <img id="logo" src="/assets/img/print4life_Logo.svg" alt="logo" />
                        </a>
                        <div class="social">
                            Follow us:
                            <br>
                            <div class="follow">
                                <fa-icon [icon]="twitterIcon" class="icon brands circle fa-twitter"></fa-icon>
                                <fa-icon [icon]="facebookIcon" class="icon brands circle fa-facebook-f"></fa-icon>
                                <a href="https://github.com/FabLabLuebeckEV/Print4Life"><fa-icon [icon]="githubIcon" class="icon brands circle fa-github"></fa-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer grid">
            <div class="col-3"></div>
            <div class="col-6 indent-left indent-right spacer-bar">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="partners-label grid">
            <div class="indent-left">
                Partner:
            </div>
        </div>
        
        <div class="partners-head grid">
                <div class="col-12 col-lg-6 indent-left indent-right">
                    <div class="col-0 col-lg-6 indent-right-half">

                    </div>
                    <div class="col-12 col-lg-6 indent-left-half">
                        <div class="anchor">
                            <img alt="FabLab Lübeck Logo" src="assets/img/logos/FabLab_Luebeck.svg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 indent-left indent-right">
                    <div class="col-12 col-lg-6 indent-right-half">
                        <div class="anchor">
                            <img alt="FabLab Lübeck Logo" src="assets/img/logos/logo_interreg_neu_juni16.eps (3).svg">
                        </div>
                    </div>
                    <div class="col-0 col-lg-6 indent-left-half">
                    </div>
                </div>
            </div>
        <div class="partners grid">
            <div class="col-12 col-md-6 indent-left indent-right">
                <div class="col-12 col-lg-6 indent-right-half">
                    <div class="anchor">
                        <img alt="EAJS Logo" 
                            src="assets/img/logos/EASJ_logo_dk_black_300dpi.png" />
                    </div>
                </div>
                <div class="col-12 col-lg-6 indent-left-half">
                    <div class="anchor">
                        <img alt="Open Campus Logo" src="assets/img/logos/open-campus_black.svg" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 indent-left indent-right">
                <div class="col-12 col-lg-6 indent-right-half">
                    <div class="anchor">
                        <img alt="TzL Lübeck Logo" 
                            src="assets/img/logos/ALL_TZL_Logo_Schriftzug mit_Standort ohne_Original_Bachorski.svg">
                    </div>
                </div>
                <div class="col-12 col-lg-6 indent-left-half">
                    <div class="anchor">
                        <img alt="FabLab Lübeck Logo" class="makerstartups" src="assets/img/logos/MakerStartupLogo.svg">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 col-md-6 indent-left indent-right">
                <div class="col-12 col-lg-6 indent-right-half">
                    <div class="anchor">
                        <img alt="EAL Danmark Logo"src="assets/img/logos/EAL-logoDK-green-background.svg">
                    </div>
                </div>
                <div class="col-12 col-lg-6 indent-left-half">
                    <div class="anchor">
                        <img alt="FabLab Danmark Logo" src="assets/img/logos/FabLab_DANMARK_logo.svg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 indent-left indent-right">
                <div class="col-12 col-lg-6 indent-right-half">
                    <div class="anchor">
                        <img alt="Open Campus" style="padding-right: 3%"
                            src="assets/img/logos/Logo_FH_Kiel_2Zeiler_deu_HKS41.svg">
                    </div>
                </div>
                <div class="col-12 col-lg-6 indent-left-half">
                    <div class="anchor">
                        <img alt="WirVsVirus Projekt Logo" src="assets/img/logos/WirVsVirus_Logo_Projekt_01.svg" >
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="grid text-small">&copy; 2020 print4life. Alle Rechte vorbehalten</div>
        </div>
        <!--
        <ul class="icons">
            </ul>
        
        <div class="row logo-row mb-4 mt-4">
            <div class="col-sm my-auto mx-auto">
            </div>
            <div class="col-sm my-auto mx-auto">
            </div>
            <div class="col-sm my-auto mx-auto">
            </div>
            <div class="col-sm my-auto mx-auto">
            </div>
            <div class="col-sm my-auto mx-auto">
                
            </div>
            <div class="col-sm my-auto mx-auto">
                
            </div>
            <div class="col-sm my-auto mx-auto">
                
            </div>
        </div>
        
        <div class="container text-center">
            <span *ngIf="softwareName && version" class="text-muted">{{softwareName}} - Version {{version}}</span>
            <span class="text-muted"> - <a href="https://www.fablab-luebeck.de/de/datenschutz">{{privacyPolicy}}</a></span>
            <span class="text-muted"> - <a href="https://www.fablab-luebeck.de/de/impressum">{{imprint}}</a></span>
        </div>
        -->
    </footer>
</div>