@media only screen and (max-width: 440px) {
    .footer .container {
        /*
        * fix for newer iphone button lines
        */
        padding-bottom: 30px;
    }
}

.appcontainer {
    min-height: 100%;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

#banner .inner footer {
    margin: 3em 0 0 0;
}

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

#footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}

#footer .copyright a {
    color: inherit;
}

#footer .copyright li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px;
}

#footer .copyright li:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}

.icons {
    text-align: center;
}

.logo-row img {
    height: 30px;
}

.logo-row {
    padding-bottom: 20px;
}

.maincontainer {
    margin-top: 9rem;
}

.footer {
    padding-top: 200px;
    display: inherit;
    background-color: #F7F7F7;
    /*
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.075);
    */
}

.footer .links {
    margin-bottom: 100px;
}

.footer .links, .footer .links > .col-12 {
    display: flex;
}

.footer .links ul {
    list-style: none;
    padding: 0px;
}

.footer .links li {
    margin-bottom: 6px;
}

.footer .links .logo {
    text-align: left;
}

.footer .links .logo img{
    margin-bottom: 50px;
}

.footer .links .logo > div {
    width: 60%;
    margin-left: auto;
}

.footer .links .logo ul {
    display: flex;
}

.footer .links .logo .follow {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 10px;
}

.footer .links .logo .follow .icon, .footer .links .logo .follow a{
    text-align:center;
    font-size: 25px;
}

.footer .links .logo .follow .icon:nth-child(1), .footer .links .logo .follow a:nth-child(1) {
    text-align: left;
}


.footer .links .logo .follow .icon:nth-last-child(1), .footer .links .logo .follow a:nth-last-child(1) {
    text-align: right;
}

.footer .spacer {
    display: flex;
}

.footer .spacer .spacer-bar {
    height: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
}

.footer .partners-label {
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer .partners, .footer .partners-head, .footer .partners > .col-6, .footer .partners-head > .col-6 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.footer .partners > .col-6 > .col-12, .footer .partners-head > .col-6 > .col-6 {
    position: relative;
    height: 90px;
}

.footer .partners .anchor, .footer .partners-head .anchor {
    width: 100%;
    height: 100%;
    position: relative;
}

.footer .partners img, .footer .partners-head img{
    max-width: 100%;
    max-height: 90px;
    height: auto;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}

.footer .copyright {
    width: 100%;
    color: white;
    background-color: #334d5c;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .partners .makerstartups {
    height: 60px;
}