@media only screen and (max-width: 440px) {
    .footer .container {
        /*
        * fix for newer iphone button lines
        */
        padding-bottom: 30px;
    }
}

.appcontainer {
    min-height: 100%;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

#banner .inner footer {
    margin: 3em 0 0 0;
}

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

#footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}

#footer .copyright a {
    color: inherit;
}

#footer .copyright li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px;
}

#footer .copyright li:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}

.icons {
    text-align: center;
}

.logo-row img {
    height: 30px;
}

.logo-row {
    padding-bottom: 20px;
}

.maincontainer {
    margin-top: 9rem;
}

.footer {
    padding-top: 200px;
    display: inherit;
    background-color: #F7F7F7;
    /*
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.075);
    */
}

.footer .links, .footer .links > .col-12 {
    display: flex;
}

.footer .links ul {
    list-style: none;
    padding: 0px;
}

.footer .links .logo {
    text-align: left;
}

.footer .links .logo img{
    margin-bottom: 50px;
}

.footer .links .logo > div {
    width: 60%;
    margin-left: auto;
}

.footer .links .logo ul {
    display: flex;
}

.footer .links .logo .follow {
    display: grid;
    grid: 33% 33% 33%;
}
