p Hello #{userName},
p it is requested that your users password will be resetted.

p The new password is: #{password} 
p You can login with the new password on #{url}. Please change your password the next time you get the chance to!

p King Regards,
p The System

