p Hi #{adminName},

p you registered yourself with your emailaddress #{userEmail} at the Ordermanagementsystem of the Fablab. Your account is currently inactive. To activate your account, you have to follow the following link: #[a(href=url) Link] !

p Kind Regards,
p The Ordermanagementsystem

