<div class="text-center">
    <h1>Anmelden</h1>
</div>
<div class="grid login">
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-6">
            <div class="email">
                <mat-form-field appearance="outline" color="warn" >
                    <mat-label>Email* </mat-label>
                    <input matInput placeholder="" (keyup.enter)="login()" [(ngModel)]="loginData.email"/>
                </mat-form-field>
                <!--
                    <input type="text" placeholder="Email*" [(ngModel)]="loginData.username" (keyup.enter)="login()">
                -->
            </div>

            <div class="password">
                <mat-form-field appearance="outline" color="warn" >
                    <mat-label>Passwort* </mat-label>
                    <input type="password" matInput placeholder="" (keyup.enter)="login()" [(ngModel)]="loginData.password"/>
                </mat-form-field>
            </div>
        </div>
        <div class="col-12 col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-3 forgot-row">
            <a class="forgot" (click)="resetPassword()">Passwort vergessen?</a>
        </div>
        <div class="col-12 col-md-3">
            <button mat-raised-button class="neutral" (click)="login()">Anmelden</button>
        </div>
        <div class="col-12 col-md-3">
        </div>
    </div>
    <div class="row register">
        <h1 class="text-center">Du hast noch keinen Account? </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-6 text-center">
            Registriere dich hier:
        </div>
        <div class="col-12 col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">

        </div>
        <div class="col-12 col-md-3 px-md-3">
            <button mat-raised-button color="primary">Als Maker registrieren</button>
        </div>
        <div class="col-12 col-md-3 px-md-3">
            <button mat-raised-button color="secondary">Als Klinik registrieren</button>
        </div>
        <div class="col-12 col-md-3">
            
        </div>
    </div>
</div>
