<div class="text-center">
    <h1>Anmelden</h1>
</div>
<div class="grid login">
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-6">
            <div class="myMatInput email">
                <input type="text" placeholder="Email*" [(ngModel)]="loginData.username">
            </div>

            <div class="myMatInput password">
                <input type="password" placeholder="Passwort*" [(ngModel)]="loginData.password">
            </div>
        </div>
        <div class="col-12 col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-3">
            <a class="forgot">Passwort vergessen?</a>
        </div>
        <div class="col-12 col-md-3">
            <button mat-raised-button class="neutral" (click)="login()">Anmelden</button>
        </div>
        <div class="col-12 col-md-3">
        </div>
    </div>
</div>
