.spacing-top-xxl {
    margin-top: 22px;
}

.spacing-top-xxxl {
    margin-top: 44px;
}

.spacing-top-xxxxl {
    margin-top: 66px;
}

.spacing-top-xs {
    margin-top: 10px;
}

.spacing-left-xxl {
    margin-left: 30px;
}