<router-outlet>
</router-outlet>
<div *ngIf="listView">
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-success  spacing-top-xxl spacing-left-xxl" [routerLink]="createLink">
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </div>
    <div class="col-md-5">
      <label for="status"></label>
      <ng-select [multiple]="true" [loading]="loadingStatus" [hideSelected]="true" [closeOnSelect]="false" [items]=validStatus
        placeholder="Filter by status..." bindLabel="status" [(ngModel)]="selectedStatus" id="status" (change)="changeHandler($event)"
        name="status" #status="ngModel">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <app-table (buttonEvent)="eventHandler($event)" [items]="visibleOrders"></app-table>
  </div>
</div>