<div class="gray-box">
    <div class="grid description">
        <div class="col-12 col-lg-6 indent-right">
            <h1>Über print4life</h1>
            <p>
                Das Team print4life, eine Gruppe von Makern aus Lübeck, entwickelte im Rahmen des Hackathons der Bundesregierung eine OrdersPlattform, um Fertigungsaufträge zentralisiert zu verwalten. Die Plattform ist international einsetzbar und ermöglicht es somit Makern europaweit, die Bekämpfung des Corona-Virus zu unterstützen und Leben zu retten.</p>
            <p>
                Die Idee unserer Plattform fand großen Anklang – das Projekt wurde von der Jury in die TOP 20 gewählt und wird auf der <a href="https://wirvsvirushackathon.org/projekte/">Website des Hackathons</a> direkt an dritter Stelle vorgestellt. Mit der Nominierung werden wir als Teil des Solution-Enabler-Programms zur weiteren Umsetzung gefördert. Zusätzlich durften wir durch diese Auszeichnung einen erneuten Schwung Aufmerksamkeit und großen Zuspruch erleben.
            </p>
            <p>
                Wir arbeiten weiterhin ehrenamtlich unter Hochdruck daran mit unserer Plattform gegen die Versorgungslücken und Liefer-Engpässe von lebenswichtigen Verbrauchsmaterialien anzukämpfen und damit die Behandlung von Erkrankten zu unterstützen oder Menschen in systemrelevanten Berufen mit den wichtigen Ausrüstungsteilen auszustatten.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="assets/img/team/print4life-header-team.png">
        </div>
    </div>
</div>
<div class="team">
    <h1 class="text-center">
        Das print4life Team
    </h1>
    <div class="text-center">
        Einer für alle und alle für einen:
    </div>

    <div class="grid team">
        <div class="col-12 col-lg-6 indent-left indent-right-half">
            <div class="member col-12 col-sm-6 indent-right-half">
                <img src="assets/img/team/ian.jpg">
                <h1>
                    Ian<br>
                    Pösse
                </h1>
                <div class="maker">
                    Superadminofdoom
                </div>
                <div class="content">
                    Ian ist zuständig für die <b>Projektleitung</b> und außerdem unsere Geheimwaffe im <b>Programmieren</b>. 
                    Muss etwas auf der Plattform oder im Projekt gefixed werden, ist er zur Stelle.
                </div>
            </div>
            <div class="member col-12 col-sm-6 indent-left-half">
                <img src="assets/img/team/hannah.jpeg">
                <h1>
                    Hannah<br>
                    Rauß
                </h1>
                <div class="maker">
                    UI & UX Design
                </div>
                <div class="content">
                    Hannah ist für unser <b>UI & UX Design</b> verantwortlich und produziert so lange Layouts und schraubt am Frontend herum, bis alles ins submikropixelgroße Detail ausgearbeitet ist.
                </div>
               
            </div>
        </div>
        <div class="col-12 col-lg-6 indent-left-half indent-right">
            <div class="member col-12 col-sm-6 indent-right-half">
                <img src="assets/img/team/martin.jpg">
                <h1>
                    Martin<br>
                    Hamann
                </h1>
                <div class="maker">
                    Kommunikationsdämon
                </div>
                <div class="content">
                    Exorcizamus te, omnis immunde spiritus,
                    omnis <b>satanica</b> potestas, omnis incursio
                    <b>infernalis</b> adversarii, omnis legio, omnis
                    congregatio et secta <b>diabolica</b>
                </div>
            </div>
            <div class="member col-12 col-sm-6 indent-left-half">
                <img src="assets/img/team/max.jpeg">
                <h1>
                    Max<br>
                    Manten
                </h1>
                <div class="maker">
                    Entwickler
                </div>
                <div class="content">
                    Max ist unser stiller <b>Informatiker</b> im Hintergrund. 
                    Mit Ian und Marco sorgt er täglich dafür, dass unsere Plattform rund läuft.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 indent-left indent-right-half">
            <div class="member col-12 col-sm-6 indent-right-half">
                <img src="assets/img/team/natascha.jpeg">
                <h1>
                    Natascha<br>
                    Koch
                </h1>
                <div class="maker">
                    Technical Artist
                </div>
                <div class="content">
                    Natascha sitzt an der <b>Schnittstelle</b> von Design und Technik. 
                    Sie <b>vermittelt</b> zwischen Designern und Entwicklern und haut auch mal auf den Tisch, wenn die Kollegen nicht spuren.
                </div>
            </div>
            <div class="member col-12 col-sm-6 indent-left-half">
                <img src="assets/img/team/marco.jpeg">
                <h1>
                    Marco<br>
                    Gabrecht
                </h1>
                <div class="maker">
                    Entwickler
                </div>
                <div class="content">
                    Wenn Marco nicht arbeitet oder im FabLab Visiere lasert, sitzt er am Rechner und <b>programmiert</b> mit Ian und Max an unserer Plattform.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 indent-left-half indent-right">
            
            <div class="member col-12 col-sm-6 indent-right-half">
                <img src="assets/img/team/bjarne.jpeg">
                <h1>
                    Bjarne<br>
                    Andersen
                </h1>
                <div class="maker">
                    Chief Happiness Officer
                </div>
                <div class="content">
                    Bjarne verbreitet stets gute Laune im Team. 
                    Er kümmert sich um <b>organisatorische Fragen</b> und hat immer ein <b>offenes</b> Ohr für seine Kollegen.
                </div>
            </div>
            
            <div class="member col-12 col-sm-6 indent-left-half">
                <img src="assets/img/team/patrick.jpeg">
                <h1>
                    Patrick<br>
                    Liebmann
                </h1>
                <div class="maker">
                    Struktur & Design
                </div>
                <div class="content">
                    Patrick ist unser Mann für den Notfall. Wenn es brenzlig wird, ist er da und rettet nicht nur das <b>Design</b>.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 indent-left indent-right-half">
            <div class="member col-12 col-sm-6 indent-right-half">
                <img src="assets/img/team/marcel.jpeg">
                <h1>
                    Marcel<br>
                    Sauer
                </h1>
                <div class="maker">
                    Design
                </div>
                Marcel ist sowohl die <b>Stimme</b> in unserem Video, als auch 
                <br>
                <a class="maker" href="https://www.youtube.com/watch?v=34VNA3HcP5U">
                    ...ein Typ mit <b>Bart</b>...
                </a>
            </div>
            <div class="member col-12 col-sm-6 indent-left-half">
                <img src="assets/img/team/jake.jpeg">
                <h1>
                    Christian<br>
                    Heuer
                </h1>
                <div class="maker">
                    Design
                </div>
                <div class="content">
                    Wenn es um <b>Zeichnungen und Illustrationen</b> geht, ist Christian der richtige Ansprechpartner. 
                    Er ist ein Virtuose am Grafiktablett.
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="spacer grid">
    <div class="col-3"></div>
    <div class="col-6 indent-left indent-right spacer-bar">
    </div>
    <div class="col-3"></div>
</div>

<div class="ranking">
    <h1 class="text-center">Die Maker</h1>
    <div class="text-center">Eine große Community von tollen Menschen</div>
    <div class="text-center"><small><i>Coming soon...</i></small></div>
</div>

<div class="spacer grid">
    <div class="col-3"></div>
    <div class="col-6 indent-left indent-right spacer-bar">
    </div>
    <div class="col-3"></div>
</div>

<div class="supported">
    <h1 class="text-center">Wem wir schon helfen konnten</h1>
    <div class="text-center"><small><i>Coming soon...</i></small></div>
</div>