<div class="gray-box">
    <div class="grid description">
        <div class="row flex-space-between">
        <div class="col-12 col-lg-6 indent-right">
            <h1>Über print4life</h1>
            <p>
                Das Team print4life, eine Gruppe von Makern aus Lübeck, entwickelte im Rahmen des <b>Hackathons der Bundesregierung</b> eine Plattform zur Vernetzung von 
                Maker:innen und Institutionen, um Fertigungsaufträge zentralisiert zu verwalten. Die Plattform ist <b>international einsetzbar</b> und ermöglicht es somit 
                Maker:innen <b>europaweit</b>, die Bekämpfung des Corona-Virus zu unterstützen und Leben zu retten.     </p>
            <p>
                Die Idee unserer Plattform fand großen Anklang – unter den 1.500 Projekt-Einreichungen des Hackathons wurden 20 Gewinner prämiert und print4life ist 
                eines dieser Projekte. Mit der Nominierung sind wir Teil des <b>Solution-Enabler</b>-Programms und werden zur weiteren Umsetzung gefördert. Zusätzlich durften 
                wir durch diese Auszeichnung einen erneuten Schwung Aufmerksamkeit und großen Zuspruch erleben. Kurz darauf wurde print4life als eines von 30 Projekten 
                für eine <b>Förderung des Bundesministeriums für Bildung und Forschung</b> ausgewählt. Einen Monat nach Veröffentlichung von print4life beta nominierte uns das 
                Internationale Design Zentrum Berlin für den <b>UX Design Award</b> in der Kategorie „Product“.
            </p>
            <p class="mb-70">
                Wir arbeiten weiterhin ehrenamtlich unter Hochdruck daran mit unserer Plattform <b>gegen die Versorgungslücken und Liefer-Engpässe</b> von lebenswichtigen 
                Verbrauchsmaterialien <b>anzukämpfen</b> und damit die Behandlung von Erkrankten zu unterstützen oder Menschen in systemrelevanten Berufen mit den wichtigen 
                Ausrüstungsteilen auszustatten.</p>


                <ul class="toc list-with-arrows mb-90">
                    <li><a href="#desc"><strong>Projektbeschreibung</strong> –  Wer sind print4life? Welches Problem lösen wir? Wie lösen wir es? Wer sind unsere Zielgruppen? Aktueller Status? Wie kann man unterstützen</a></li>
                    <li><a href="#milestones"><strong>Was bisher geschah</strong> – Meilensteine im Überblick</a></li>
                    <li><a href="#team"><strong>Das Team</strong> – Wir stellen uns vor</a></li>
          <!--          <li><a href="#maker"><strong>Die Maker:innen</strong> – Eine große Community von tollen Menschen</a></li>
                    <li><a href="#helped"><strong>Wem wir bereits helfen konnten</strong> – Eine Übersicht von Institutionen, Einrichtungen, Organisationen</a></li>
                    <li><a href="#supporters"><strong>Unsere Unterstützer</strong> – Menschen und Unternehmen, die mit uns zusammenarbeiten und uns unterstützen</a></li>
          -->
                </ul>
        </div>
        <div class="col-12 col-lg-6 ">
            <img src="assets/img/team/header-logo.png" class="team-header-logo">
        </div>
    </div>
    </div>
</div>

<div class="grid press  pxy-80">
    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Projektbeschreibung
            </h3>
        
        </div>
        <div class="col-lg-6">
                <p>Wir <b>vernetzen</b> Maker mit Kliniken, Arztpraxen, Schulen, etc. um Versorgungsengpässe mithilfe von innovativen Fertigungsverfahren <b>schnell</b>, 
                    <b>unkompliziert</b> und <b>dezentral</b> überbrücken zu können.</p>    
        </div>
    </div>

    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Welches Problem 
                wollen wir lösen?
                
            </h3>
        
        </div>
        <div class="col-lg-6">
                <p>In den vergangenen Wochen hat sich die <b>Versorgungslage in Krankenhäusern, Arztpraxen etc.</b> in Teilen Europas dramatisch zugespitzt. Wichtige Ausrüstungsteile 
                    sind nicht ausreichend verfügbar, was die Behandlung von Erkrankten zusätzlich erschwert. In Lieferketten kommt es nach und nach zu <b>Engpässen</b>, welche von 
                    den Hersteller:innen nicht schnell genug überbrückt werden können.</p>    
        </div>
    </div>

    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Wie lösen wir 
                das Problem?
            </h3>
        
        </div>
        <div class="col-lg-6">
                <p>Wir entwickeln eine Webplattform, die die <b>unkomplizierte, zentrale Verteilung</b> von Großaufträgen an Maker:innen und Firmen ermöglicht. 
                    Einrichtungen können sich registrieren, Dateien, Beschreibungen und Lieferadresse hinterlegen und eine gewünschte Anzahl ihrer Auftragsobjekte 
                    angeben. Maker können sich für einen selbstgewählten Anteil eintragen und diesen fertigen.</p>
                <p>Wir <b>vereinfachen</b> mit der Plattform den <b>Zuordnungs- und Verwaltungsprozess</b>. Auch einzelne Maker können ohne Zuordnung zu Organisationen helfen. 
                    Die Plattform ist einfach und intuitiv zu bedienen, man benötigt keinerlei Vorkenntnisse. Die Übersetzungsbibliothek ermöglicht internationalen Einsatz.
                </p>
        </div>
    </div>
    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Wer sind unsere
                Zielgruppen?
            </h3>
        
        </div>
        <div class="col-lg-6">
            <p>Zielgruppe <b>„Bedarf an Hilfsgütern“</b>:            </p>
            <p class="with-arrow mb-20">	Medizinisches Personal, inkl. Pflege, Menschen mit 	Vorerkrankungen, Menschen in systemrelevanten 	Berufen, Ärzt:innen, Apotheker:innen, Lehrer:innen; 	Erzieher:innen, Personal des ÖPNV, Personal in der 	Logistik, Hilfsorganisationen
            </p>
            <p>Zielgruppe <b>„Herstellung von Hilfsgütern“</b>:
            </p>
            <p class="with-arrow">	Maker:innen, Näher:innen, Vereine mit Zugriff auf 3D-	Drucker oder Nähmaschinen, Unternehmen mit Zugriff 	auf 3D-Drucker oder Nähmaschinen, FabLabs mit Zugriff 	auf 3D-Drucker oder Nähmschinen, Fachhochschulen, 	Universitäten </p>
              
        </div>
    </div>
    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Was ist unser 
                aktueller Status?
            </h3>
        
        </div>
        <div class="col-lg-6">
                <p>print4life beta ist seit dem 15. Mai online. Wir <b>testen</b> diese nun mit freiwilligen Helfern aus ganz Deutschland, um <b>Fehler</b> zu 
                    finden und <b>Feedback</b> zu sammeln.</p>    
        </div>
    </div>
    <div class="row mb-90" id="desc">
        <div class="col-lg-3">
            <h3 class=blue>Wie kann man uns unterstützen?
            </h3>
        
        </div>
        <div class="col-lg-6">
                <p class="small-margin">Hast Du einen <b>3D-Drucker</b>?</p>
                <p  class="with-arrow mb-20"><a href="/users/signup/maker">Registriere Dich</a> und werde Teil von print4life.</p>
                <p class="small-margin">Du bist ein Frontend/Backend <b>Developer</b>?<br>
                    Du bist eine <b>Texter:in</b>?<br>
                    Du bist eine <b>Social Media Manager:in</b>?<br>
                    Du möchtest uns im Team <b>unterstützen</b>?</p>
                        <p  class="with-arrow mb-20">Schreib uns gerne ein E-Mail: <a href="mailto:info@print4.life">info@print4.life</a></p>
                        <p class="small-margin">Andere <b>Ideen</b>?</p>
                          <p  class="with-arrow">Schreib uns gerne eine E-Mail: <a href="mailto:info@print4.life">info@print4.life</a></p>
        </div>
    </div>
</div>

<div class="milestones gray-box pxy-80" id="milestones">
    <h1 class="text-center" style="margin-bottom: 25px">
        Was bisher geschah
    </h1>
    <div class="text-center mb-130">
        Unsere wichtigsten Meilensteine auf einen Blick
    </div>

    <div class="container col-mb-20 text-center-sm">


    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            20. März
        </div>
        <div class="col-12 col-md-5 headline-h1">
            Teilnahme am WirVsVirus-Hackathons der Bundesregierung
        </div>
        <div class="col-12 col-md-2">
            <img src="assets/img/team/01_wir_vs_virus.png" width=200 class="milestone-img">
        </div>
    </div>
    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            30. März
        </div>
        <div class="col-12 col-md-5 headline-h1">
            Unter den 20 Gewinnern des Hackathons
        </div>
        <div class="col-12 col-md-2">
        
        </div>
    </div>
    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            08. April
        </div>
        <div class="col-12 col-md-5 headline-h1">
            Start des Solution Enabler
        </div>
        <div class="col-12 col-md-2">
            <img src="assets/img/team/02_solution_enabler.png" width=222  class="milestone-img">
        </div>
    </div>
    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            01. Mai
        </div>
        <div class="col-12 col-md-5 headline-h1">
            Förderung durch das Bundesministerium für Bildung und Forschung
        </div>
        <div class="col-12 col-md-2">
            <img src="assets/img/team/03-bamf.png" width=200  class="milestone-img">
        </div>
    </div>
    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            15. Mai
        </div>
        <div class="col-12 col-md-5 headline-h1">
            print4life beta ist live
        </div>
        <div class="col-12 col-md-2">
            <img src="">
        </div>
    </div>
    <div class="row flex-space-between mb-50">
        <div class="col-12 col-md-2 headline-h1 blue">
            15. Juni
        </div>
        <div class="col-12 col-md-5 headline-h1">
            Nominierung für den UX Design Award in der Kategorie „Product“
        </div>
        <div class="col-12 col-md-2">
            <img src="assets/img/team/04_ux.png" width=130  class="milestone-img">
        </div>
    </div>

</div>
</div>


<div class="team" id=team>
    <h1 class="text-center" style="margin-bottom: 25px">
        Das print4life Team
    </h1>
    <div class="text-center mb-130">
        Einer für alle und alle für einen:
    </div>

    <div class="container">

    <div class="row">

            <div class="member col-12 col-sm-4 ">
                <img src="assets/img/team/Avatar_Ian.png">
                <h1>
                    Ian<br>
                    Pösse
                </h1>
                <div class="maker">
                    Projektleitung
                </div>
                <div class="content">
                
                    <p><b>Ian Pösse</b> ist Masterstudent der Informatik mit Schwerpunkt Software Systems Engineering, strebt eine Promotion im Fachbereich Smart City an und ist stellvertretender Vorstandsvorsitzender des FabLab Lübeck e. V..
                    </p>

                    <p>Ian ist zuständig für die <b>Projektleitung</b> und unsere Geheimwaffe im <b>Programmieren</b>. Muss etwas auf der Plattform oder im Projekt gefixed werden, ist er zur Stelle.</p>
                </div>
            </div>
            <div class="member col-12 col-sm-4 ">
                <img src="assets/img/team/Avatar_Hannah.png">
                <h1>
                    Hannah<br>
                    Rauß
                </h1>
                <div class="maker">
                    UI & UX Design
                </div>
                <div class="content">
                    <p> 
                        <b>Hannah Rauß</b> schloss 2012 ihr Masterstudium in Design- und Kommunikations&shy;strategien mit Auszeichnung ab, leitet die Design-Abteilung eines B2B E-Commerce-Unternehmens in Hamburg und engagiert sich für Social Start-Ups und Digitale Transformation.
                </p>
                <p> 
                    Hannah ist für unser <b>UI & UX Design</b> verantwortlich. Sie erstellt so lange User Stories, Layouts und schraubt am Frontend herum, bis alles ins Detail ausgearbeitet ist.
                </p>
                </div>
               
            </div>
      
       
            <div class="member col-12 col-sm-4">
                <img src="assets/img/team/Avatar_Martin.png">
                <h1>
                    Martin<br>
                    Hamann
                </h1>
                <div class="maker">
                    Kommunikation
                </div>
                <div class="content">
                    <p> 
                        <b>Martin Hamann</b> studiert Chemieingenieurwesen mit Schwerpunkt Biotechnologie, Zusatzstudium im Bereich weltweite Medizin&shy;produkt&shy;zulassung und Management, ist Gründungsmitglied und Finanzvorstand des FabLab Lübeck e. V. und tätig im Bereich Unternehmens&shy;beratung und (Produkt-)Fotografie.
                </p>
                <p> 
                    Martin ist unser <b>Ansprechpartner</b> für alle Belange; für Mitglieder, Institutionen, Ministerien, Ämter, Vereine. Alle.
                </p>
                </div>
            </div>
            <div class="member col-12 col-sm-4">
                <img src="assets/img/team/Avatar_Max.png">
                <h1>
                    Max<br>
                    Manten
                </h1>
                <div class="maker">
                    Entwicklung
                </div>
                <div class="content">
                    Max ist unser stiller <b>Informatiker</b> im Hintergrund. 
                    Mit Ian und Marco sorgt er täglich dafür, dass unsere Plattform rund läuft.
                </div>
            </div>
   
            <div class="member col-12 col-sm-4">
                <img src="assets/img/team/Avatar_Natascha.png">
                <h1>
                    Natascha<br>
                    Koch
                </h1>
                <div class="maker">
                    Technical Artist
                </div>
                <div class="content">

                    Natascha sitzt an der <b>Schnittstelle</b> von Design und Technik. 
                    Sie <b>vermittelt</b> zwischen Designern und Entwicklern und haut auch mal auf den Tisch, wenn die Kollegen nicht spuren.
                </div>
            </div>
            <div class="member col-12 col-sm-4">
                <img src="assets/img/team/Avatar_Marco.png">
                <h1>
                    Marco<br>
                    Gabrecht
                </h1>
                <div class="maker">
                    Entwicklung
                </div>
                <div class="content">
                    <p> 
                        Marco Gabrecht studiert ab September im Master Informatik mit Schwerpunkt Softwaretechnik für verteilte Systeme und arbeitet bei einer Lübecker Firma im Bereich Appentwicklung und Industrie Digitalisierung, sowie im Bereich KI Kommunikation.

                </p>
                <p> 
                    Wenn Marco nicht arbeitet oder im FabLab Visiere lasert, sitzt er am Rechner und programmiert mit Ian und Max an unserer Plattform.
                </p>
                </div>
            </div>
      
    
            
            <div class="member col-12 col-sm-4 ">
                <img src="assets/img/team/Avatar_Bjarne.png">
                <h1>
                    Bjarne<br>
                    Andersen
                </h1>
                <div class="maker">
                    Chief Happiness Officer
                </div>
                <div class="content">
                    Bjarne verbreitet stets gute Laune im Team. 
                    Er kümmert sich um <b>organisatorische Fragen</b> und hat immer ein <b>offenes</b> Ohr für seine Kollegen.
                </div>
            </div>
            
            <div class="member col-12 col-sm-4 ">
                <img src="assets/img/team/Avatar_Patrick.png">
                <h1>
                    Patrick<br>
                    Liebmann
                </h1>
                <div class="maker">
                    Struktur & Design
                </div>
                <div class="content">
                    Patrick ist unser Mann für den Notfall. Wenn es brenzlig wird, ist er da und rettet nicht nur das <b>Design</b>.
                </div>
            </div>


            <div class="member col-12 col-sm-4 ">
                <img src="assets/img/team/Avatar_Marcel.png">
                <h1>
                    Marcel<br>
                    Sauer
                </h1>
                <div class="maker">
                    Design
                </div>
                <div class="content">
                Marcel ist sowohl die <b>Stimme</b> in unserem Video, als auch 
                <br>
                <a class="maker" href="https://www.youtube.com/watch?v=34VNA3HcP5U">
                    &hellip;ein Typ mit <b>Bart</b>&hellip;
                </a>
            </div>
            </div>
            <div class="member col-12 col-sm-4">
                <img src="assets/img/team/Avatar_Christian.png">
                <h1>
                    Christian<br>
                    Heuer
                </h1>
                <div class="maker">
                    Design
                </div>
                <div class="content">
                    Wenn es um <b>Zeichnungen und Illustrationen</b> geht, ist Christian der richtige Ansprechpartner. 
                    Er ist ein Virtuose am Grafiktablett.
                </div>
            </div>
  
        </div>
    </div>
</div>
<div class="spacer grid">
    <div class="col-3"></div>
    <div class="col-6 indent-left indent-right spacer-bar">
    </div>
    <div class="col-3"></div>
</div>

<div class="ranking">
    <h1 class="text-center" style="margin-bottom: 25px">Die Maker</h1>
    <div class="text-center" style="margin-bottom: 25px">Eine große Community von tollen Menschen</div>
    <div class="text-center" style="color: #d7d7d7"><small><i>coming soon...</i></small></div>
</div>

<div class="spacer grid">
    <div class="col-3"></div>
    <div class="col-6 indent-left indent-right spacer-bar">
    </div>
    <div class="col-3"></div>
</div>

<div class="supported">
    <h1 class="text-center">Wem wir schon helfen konnten</h1>
    <div class="text-center" style="color: #d7d7d7"><small><i>coming soon...</i></small></div>
</div>