<div *ngIf="!loading">
  <div class="row spacing">
    <div class="col-md-3 text-center">
      <app-back-button class="spacing-right-xs"></app-back-button>
      <a [routerLink]="editLink">
        <button type="button" class="btn btn-warning spacing-right-xs">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
      </a>
      <button (click)="delete()" type="button" class="btn btn-danger spacing-right-xs">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
    </div>
    <div class="col-md-7 offset-1">
      <h1>{{machine.deviceName}} - {{machine.fablab.name}}</h1>
    </div>
  </div>
  <div class="row spacing">
    <div class="col-md-12">
      <div class="container text-center">
        <ngb-accordion #acc="ngbAccordion" activeIds="machine-data">

          <ngb-panel id="machine-data" [title]="machineProps['title']">
            <ng-template ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <li *ngFor="let prop of machineProps['props']" class="col-md-6 list-group-item">
                    <div class="row">
                      <div class="col-md-6">
                        {{prop.label}}:
                      </div>
                      <div class="col-md-6">
                        {{machine[prop.key]}}
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>


          <ngb-panel *ngFor="let item of machineSubObjects" [title]="item.title">
            <ng-template ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <li *ngFor="let prop of objectKeys(item.obj)" class="col-md-6 list-group-item">
                    <div class="row">
                      <div class="col-md-6">
                        {{prop}}:
                      </div>
                      <div class="col-md-6">
                        {{item.obj[prop]}}
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>

          <ngb-panel *ngFor="let key of machineSubArrays" [title]="key.title">
            <ng-template ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <div *ngFor="let item of key.array" class="col-md-6">
                    <div class="card spacing">
                      <li *ngFor="let elem of objectKeys(item)" class="list-group-item">
                        <div class="row">
                          <div class="col-md-6">
                            {{elem}}:
                          </div>
                          <div class="col-md-6">
                            {{item[elem]}}
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>