<div *ngIf="!loading">
  <div class="row spacing">
    <div class="col-md-12 text-center">
      <h1 *ngIf="machine && machine.deviceName">{{machine.deviceName}}
      </h1>
      <div *ngIf="machine.fablab && machine.fablab.name" class="row">
        <div class="col-md-12">
          <h2>{{machine.fablab.name}}</h2>
        </div>
      </div>
    </div>
    <div class="container text-left">
      <app-back-button class="spacing-right-xs"></app-back-button>
      <a *ngIf="userIsLoggedIn" [routerLink]="editLink">
        <button type="button" class="btn btn-warning spacing-right-xs">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
      </a>
      <button *ngIf="userIsLoggedIn && !machineActive" (click)="delete()" type="button" class="btn btn-danger spacing-right-xs">
        <fa-icon [icon]="toggleOff"></fa-icon>
      </button>
      <button *ngIf="userIsLoggedIn && machineActive" (click)="delete()" type="button" class="btn btn-success spacing-right-xs">
        <fa-icon [icon]="toggleOn"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row spacing">
    <div class="col-md-12">
      <div class="container text-center">
        <ngb-accordion #acc="ngbAccordion" activeIds="machine-data">

          <ngb-panel *ngIf="machineProps['title'] && machineProps['props']" id="machine-data" [title]="machineProps['title']">
            <ng-template ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <li *ngFor="let prop of machineProps['props']" class="col-md-6 list-group-item">
                    <div *ngIf="prop.key && prop.label" class="row">
                      <div class="col-md-6">
                        {{prop.label}}:
                      </div>
                      <div class="col-md-6">
                        {{machine[prop.key]}}
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>


          <ngb-panel *ngFor="let item of machineSubObjects" [title]="item.title">
            <ng-template *ngIf="item.obj" ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <li *ngFor="let prop of objectKeys(item.obj)" class="col-md-6 list-group-item">
                    <div *ngIf="prop" class="row">
                      <div class="col-md-6">
                        {{prop}}:
                      </div>
                      <div class="col-md-6">
                        {{item.obj[prop]}}
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>

          <ngb-panel *ngFor="let key of machineSubArrays" [title]="key.title">
            <ng-template *ngIf="key.array" ngbPanelContent>
              <ul class="list-group col-md-12">
                <div class="row">
                  <div *ngFor="let item of key.array" class="col-md-6">
                    <div class="card spacing">
                      <li *ngFor="let elem of objectKeys(item)" class="list-group-item">
                        <div class="row">
                          <div class="col-md-6">
                            {{elem}}:
                          </div>
                          <div class="col-md-6">
                            <!-- add href to projectname of successfulOrders -->
                            <a *ngIf="userIsLoggedIn && (key.originTitle === 'successfulOrders' || key.originTitle === 'schedules') && (elem === 'Projectname' || elem === 'Projektname')"
                              [href]="item[elem].href">{{item[elem].label}}</a>
                            <span *ngIf="!userIsLoggedIn || elem !== 'Projectname' && elem !== 'Projektname'">{{item[elem]}}</span>
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>