<router-outlet></router-outlet>
<div class="grid" >
  <h1 *ngIf="type === 'maker'">Dein Account ist jetzt aktiviert!</h1>
  <div *ngIf="type === 'maker'" class="large-indent-left large-indent-right">
    <img src="/assets/img/register_illustrations/maker-fertig.png" />
  </div>
  <h1 *ngIf="type === 'klinik'">Fast geschafft!</h1>
  <div *ngIf="type==='klinik'" class="large-indent-left large-indent-right">
    <p>
      Danke für Deine Registrierung, deine E-Mail-Adresse ist verifiziert.
      <br>
      Unser Team <b>verifiziert</b> deine Angaben so schnell wie
      möglich.
    </p>
    <p>
      Du wirst per Email benachrichtigt, sobald dein Account für Bestellungen <b>freigeschaltet</b> wird. 
    </p>
    <img src="/assets/img/register_illustrations/klinik-verifizieren.png" />
  </div>
  <br>
  <button mat-raised-button color="primary" [routerLink]="[loginRoute]">Weiter zum Login</button>
</div>