<div class="grid">
    <div class="header">
        <h1>Vielen Dank!</h1>
    </div>
    <div class="large-indent-left large-indent-right content">
        <img src="/assets/img/register_illustrations/maker-registrieren.png" *ngIf="type==='maker'"/>
        <img src="/assets/img/register_illustrations/klinik-registrieren.png" *ngIf="type==='klinik'"/>
        <p>
            Wir freuen uns, dass du dich bei print4life registriert hast und helfen möchtest!
        </p>
        <p>
            Du bekommst eine E-Mail mit einem <b>Aktivierungs-Link zugeschickt.</b>
            Bitte aktiviere mit einem Klick auf den Link deinen Account.
        </p>
    </div>
</div>