<router-outlet></router-outlet>
<div class="row spacing">
  <div class="col-md-12 text-center">
    <h1>{{translationFields.title}}</h1>
  </div>
  <div class="container text-left">
    <app-back-button></app-back-button>
  </div>
</div>
<div class="row spacing">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #createUserForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="username">{{translationFields.labels.username}}</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="fablab.name" name="name"
            [disabled]="editView || profileView" #username="ngModel">
          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            {{translationFields.messages.username}}
          </div>
        </div>
      </div>
      <div *ngIf="editView || profileView" class="form-group row">
        <div class="col-md-3">
          <label for="role">{{translationFields.labels.isActivated}}</label><br>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="fablab.activated">
            <label ngbButtonLabel class="btn btn-outline-success">
              <input ngbButton type="radio" [value]="true" [disabled]=!isAdmin>{{translationFields.buttons.activatedTrue}}
            </label>
            <label ngbButtonLabel class="btn btn-outline-danger">
              <input ngbButton type="radio" [value]="false" [disabled]=!isAdmin>{{translationFields.buttons.activatedFalse}}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <label for="street">{{translationFields.labels.street}}</label>
          <input type="text" class="form-control" id="street" [(ngModel)]="fablab.address.street" name="street" #street="ngModel">
          <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
            {{translationFields.messages.street}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="zipCode">{{translationFields.labels.zipCode}}</label>
          <input type="text" class="form-control" id="zipCode" [(ngModel)]="fablab.address.zipCode" name="zipCode"
            #zipCode="ngModel">
          <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
            {{translationFields.messages.zipCode}}
          </div>
        </div>
        <div class="col-md-8">
          <label for="city">{{translationFields.labels.city}}</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="fablab.address.city" name="city" #city="ngModel">
          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            {{translationFields.messages.city}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="country">{{translationFields.labels.country}}</label>
          <input type="text" class="form-control" id="country" [(ngModel)]="fablab.address.country" name="country"
            #country="ngModel">
          <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
            {{translationFields.messages.country}}
          </div>
        </div>
      </div>  
      <button type="submit" class="btn btn-success" [disabled]="!createUserForm.form.valid ">{{translationFields.labels.submit}}</button>
    <!--|| (!editView && !profileView)-->
    </form>
  </div>
</div>