<div class="gray-box faq">
    <div class="grid">
        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.    
            </div>
        </div>

        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
            </div>
        </div>

        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            </div>
        </div>

        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </div>
        </div>

        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            </div>
        </div>

        <div class="col-6 indent-left indent-right">
            <div class="question neutral">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            </div>
        </div>
    </div>
</div> 
<div class="kontakt">
    <div class="grid">
        <div class="col-6 indent-right">
            <h1>
                Kontakt
            </h1>
            <div>
                Gibt es noch eine Frage, die auf dieser Seite nicht gestellt und beantwortet wurde? 
                Dann fülle gerne dieses Formular aus und wir melden uns bei dir!
            </div>
        </div>
        <div class="col-6 indent-right indent-left">
            Hallo Welt
        </div>
    </div>
</div>