.faq .grid, .kontakt .grid {
    display: flex;
    flex-wrap: wrap;
}

.faq .grid .question {
    margin-bottom: 10px;
}

.faq .grid .answer {
    margin-bottom: 40px;
}

.kontakt {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kontakt h1 {
    margin-bottom: 30px;
}