p Hallo #{adminName},
p ein neuer Benutzer hat sich registriert: #{userName} (#{userEmail})

p Der Benutzer ist deaktiviert und kann sich nicht einloggen. Du kannst den Benutzer auf seiner Profilseite #[a(href=url) aktivieren] !

p Viele Grüße,
p Das System

