.close {
    min-width: inherit!important;
}

.modal-header .close {
    display: none;
}

.modal-footer {
    margin-bottom: 25px;
    padding-top: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-footer div {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-footer div button {
    width: 100%;
}