
<div id="general" class="gray-box" style="margin-bottom: 80px;">
    <div class="grid privacy">
        <div class="col-12 col-lg-8 general-text">
    
    <h1>Impressum</h1>
    <p>Ian Pösse<br />
        Damaschkestraße 18<br />
        23560 Lübeck</p>
    
    <p>Telefon: +49 1520 4429517<br />
    E-Mail: ian@ipoesse.de</p>
    </div>
    </div>
    </div>
   

    <div class="grid privacy" style="margin-bottom: 80px;">
        <div class="col-12 col-lg-8 general-text">
<h2>Bildquellen</h2>

<p>
    Photo by <a href="https://unsplash.com/@katya?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Katya Austin on Unsplash</a> <br>
    Photo by <a href="https://unsplash.com/@zmorph3d?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">ZMorph Multitool 3D Printer on Unsplash</a> <br>
    Photo by <a href="https://unsplash.com/@tetrakiss?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Arseny Togulev on Unsplash</a> <br>
    Photo by <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Busing on Unsplash</a> <br>
    Photo by <a href="https://unsplash.com/@goian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ian Schneider on Unsplash</a> <br>
    <a href="https://icons8.com/ouch/style/karlsson">https://icons8.com/ouch/style/karlsson</a> <br>
Illustration by <a href="http://www.saramaese.com">Sara Maese</a><br>
Photo by <a href="https://unsplash.com/@enginakyurt">engin akyurt</a> on Unsplash<br>
Mask icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>


Photo by <a href="https://unsplash.com/@dovilerm">Dovile Ramoskaite</a> on Unsplash<br>
Photo by <a href="https://unsplash.com/@godje">Daniel Mayovskiy</a> on Unsplash<br>


</p>
    
        </div>
    </div>