p Hi #{adminName},
p a new user registered: #{userName} (#{userEmail})

p The user is deactivated and can't login. You can #[a(href=url) activate] the user in the users profile page!

p Kind Regards,
p The System

