<div #spinnerContainer>
  <ngx-spinner [loadingText]="spinnerConfig.loadingText" [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size"
    [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
</div>

<router-outlet></router-outlet>
<ng-template #tipContent>{{translationFields.publicHint}}</ng-template>
<div class="row spacing">
  <div class="col-md-12 text-center">
    <h1>{{translationFields.title}}</h1>
  </div>
  <div class="container">
    <app-back-button class="spacing-right-xs"></app-back-button>
  </div>
</div>
<div class="row spacing">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #createOrderForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="projectname">{{translationFields.labels.projectName}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <input type="text" class="form-control" id="projectname" required [(ngModel)]="order.projectname" name="projectname"
            #projectname="ngModel">
          <div [hidden]="projectname.valid || projectname.pristine" class="alert alert-danger">
            {{translationFields.messages.projectName}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="owner">{{translationFields.labels.owner}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <input *ngIf="!sharedView!" type="text" class="form-control" id="owner" required name="owner" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
            disabled>
          <input *ngIf=sharedView type="text" class="form-control" id="owner" required name="owner" [(ngModel)]="order.owner"
            [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname" [disabled]="editView">
        </div>
        <div class="col-md-6">
          <label for="editor">{{translationFields.labels.editor}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingEditors" [items]=editors bindValue="_id" bindLabel="shownName" [(ngModel)]="order.editor"
            id="editor" name="editor" #editor="ngModel" groupBy="fablabName" [disabled]="!editView || !loggedInUser || !loggedInUser.role || !loggedInUser.role.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.fablabName || translationFields.messages.unnamedFablab}}
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <div *ngIf="editView" class="col-md-12">
          <label for="status">{{translationFields.labels.status}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingStatus" [items]=translationFields.shownStatus bindValue="_id" bindLabel="name"
            [(ngModel)]="order.shownStatus" (change)="statusChanged(order.shownStatus)" id="status" name="status"
            #status="ngModel" required [disabled]="!loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
          </ng-select>
          <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
            {{translationFields.messages.status}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="selectedMachineType">{{translationFields.labels.machineType}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingMachineTypes" [items]=translationFields.shownMachineTypes [(ngModel)]="order.machine['shownType']"
            id="selectedMachineType" name="selectedMachineType" #selectedMachineType="ngModel" (change)="machineTypeChanged(order.machine['shownType'])"
            required>
          </ng-select>
          <div [hidden]="selectedMachineType.valid || selectedMachineType.pristine" class="alert alert-danger">
            {{translationFields.messages.machineType}}
          </div>
        </div>
      </div>
      <div *ngIf="order.machine.type" class="form-group row">
        <div class="col-md-6">
          <label for="selectedMachine">{{translationFields.labels.selectedMachine}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingMachinesForType" [items]=machines bindValue="_id" bindLabel="deviceName"
            [(ngModel)]="order.machine._id" id="selectedMachine" name="selectedMachine" #selectedMachine="ngModel"
            groupBy="fablabName" (change)="machineSelected(selectedMachine)" [virtualScroll]=true required>
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.fablabName || translationFields.messages.unnamedFablab}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{ item.deviceName }}
            </ng-template>
          </ng-select>
          <div [hidden]="selectedMachine.valid || selectedMachine.pristine" class="alert alert-danger">
            {{translationFields.messages.selectedMachine}}
          </div>
        </div>
        <div *ngIf="order.machine && order.machine.deviceName" class="col-md-4 offset-1">
          <label for="selectedMachineDetailView">{{translationFields.labels.selectedMachineInfo}}:</label>
          <div>
            <a [routerLink]="order.machine.detailView" name="selectedMachineDetailView">
              <button type="button" class="btn btn-primary">{{ order.machine.deviceName }}</button>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h4>{{translationFields.labels.addressTitle}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-4">
          <div class="btn-group spacing btn-group-toggle" data-toggle="buttons" role="group" aria-label="Shipping address selection">
            <button *ngFor="let key of shippingAddressKeys; let index=index" (click)="_selectAddress(key)" type="button"
              [class.active]="key === selectedAddressKey" [disabled]="shippingAddresses[key] === undefined" class="btn btn-outline-primary">{{
              translationFields.shownShippingAddresses[index] }}</button>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <label for="street">{{translationFields.labels.street}}</label>
            <input type="text" [disabled]="selectedAddressKey !== 'newAddress'" class="form-control" id="street"
              required [(ngModel)]="order.shippingAddress.street" name="street" #street="ngModel">
            <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
              {{order.shippingAddress.street}}
            </div>
          </div>
          <div class="col-md-6">
            <label for="city">{{translationFields.labels.city}}</label>
            <input type="text" [disabled]="selectedAddressKey !== 'newAddress'" class="form-control" id="city" required
              [(ngModel)]="order.shippingAddress.city" name="city" #city="ngModel">
            <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
              {{order.shippingAddress.city}}
            </div>
          </div>
        </div>
        <div class="row spacing-top">
          <div class="col-md-6">
            <label for="zipCode">{{translationFields.labels.zipCode}}</label>
            <input type="text" [disabled]="selectedAddressKey !== 'newAddress'" class="form-control" id="zipCode"
              required [(ngModel)]="order.shippingAddress.zipCode" name="zipCode" #zipCode="ngModel">
            <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
              {{order.shippingAddress.zipCode}}
            </div>
          </div>
          <div class="col-md-6">
            <label for="country">{{translationFields.labels.country}}</label>
            <input type="text" [disabled]="selectedAddressKey !== 'newAddress'" class="form-control" id="country"
              required [(ngModel)]="order.shippingAddress.country" name="country" #country="ngModel">
            <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
              {{order.shippingAddress.country}}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="editView">
        <div class="row spacing-top">
          <div class="col-md-3">
            <label for="datePickerStart">{{translationFields.labels.datePickerStart}}</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="datePickerStart" id="datePickerStart"
                [(ngModel)]="schedule.startDay" ngbDatepicker #datePickerStart="ngbDatepicker" [required]="false"
                [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="datePickerStart.toggle()" type="button" [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
                  <fa-icon [icon]="calendarIcon"></fa-icon>
                </button>
              </div>
              <div [hidden]="!datePickerError" class="alert alert-danger">
                {{translationFields.messages.datePicker}}
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label for="timePickerStart">{{translationFields.labels.timePickerStart}}</label>
            <ngb-timepicker class="spacing-top" name="timePickerStart" id="timePickerStart" [spinners]="false"
              [(ngModel)]="schedule.startTime" #timePickerStart="ngModel" [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'"></ngb-timepicker>
            <div [hidden]="!timePickerError" class="alert alert-danger">
              {{translationFields.messages.timePicker}}
            </div>
          </div>

          <div class="col-md-3">
            <label for="datePickerEnd">{{translationFields.labels.datePickerEnd}}</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="datePickerEnd" id="datePickerEnd" [(ngModel)]="schedule.endDay"
                ngbDatepicker #datePickerEnd="ngbDatepicker" [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="datePickerEnd.toggle()" type="button" [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'">
                  <fa-icon [icon]="calendarIcon"></fa-icon>
                </button>
              </div>
              <div [hidden]="!datePickerError" class="alert alert-danger">
                {{translationFields.messages.datePicker}}
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label for="timePickerEnd">{{translationFields.labels.timePickerEnd}}</label>
            <ngb-timepicker class="spacing-top" name="timePickerEnd" id="timePickerEnd" [spinners]="false" [(ngModel)]="schedule.endTime"
              #timePickerEnd="ngModel" [disabled]=" !order.machine || !order.machine.deviceName || !loggedInUser.role || loggedInUser.role.role !== 'editor' && loggedInUser.role.role !== 'admin'"></ngb-timepicker>
            <div [hidden]="!timePickerError" class="alert alert-danger">
              {{translationFields.messages.timePicker}}
            </div>
          </div>
        </div>


        <!-- Print files of this order as a list -->
        <div *ngIf="machineSchedules && machineSchedules.length > 0">
          <div class="row table-spacing-top">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <h4>{{translationFields.labels.machineSchedule}}</h4>
              </button>
            </div>
            <div id="collapseExample" class="col-md-12 table-spacing-top table-spacing-bottom" [ngbCollapse]="isCollapsed">
              <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="align-middle text-center" scope="col">{{translationFields.labels.startDate}}</th>
                      <th class="align-middle text-center" scope="col">{{translationFields.labels.endDate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let schedule of machineSchedules">
                      <td class="align-middle text-center">
                        <div>{{schedule.shownStartDate}}</div>
                      </td>
                      <td class="align-middle text-center">
                        <div>{{schedule.shownEndDate}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <!-- Files -->
        <div class="form-group row table-spacing">
          <div class="col-md-12 text-center">
            <h4>{{translationFields.labels.fileUpload}}</h4>
          </div>
        </div>

        <div class="col-md-12">
          <app-upload #fileUpload (uploadingEvent)="uploadingEventHandler($event)"></app-upload>
        </div>

        <!-- Print files of this order as a list -->
        <div *ngIf="editView && order.files && order.files.length > 0">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4>{{translationFields.labels.files}}</h4>
            </div>
            <div class="col-md-12 table-spacing-top table-spacing-bottom">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="align-middle text-center" scope="col">{{translationFields.labels.latestVersion}}</th>
                    <th class="align-middle text-center" scope="col">{{translationFields.labels.file}}</th>
                    <th class="align-middle text-center" scope="col">{{translationFields.labels.createdAt}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of order.files">
                    <td class="align-middle text-center">
                      <fa-icon class="text-success" *ngIf="!file.deprecated" [icon]="toggleOnIcon"></fa-icon>
                      <fa-icon class="text-danger" *ngIf="file.deprecated" [icon]="toggleOffIcon"></fa-icon>
                    </td>
                    <td class="align-middle text-center"><a [href]="file.link">{{file.filename}}</a></td>
                    <td class="align-middle text-center">{{file.shownCreatedAt}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Comments -->
        <div *ngIf="!editView">
          <div class="form-group row table-spacing">
            <div class="col-md-12 text-center">
              <h4>{{translationFields.labels.comments}}</h4>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <label for="author">{{translationFields.labels.author}}</label>
              <input type="text" class="form-control" id="author" required name="author" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
                disabled>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <label for="content">{{translationFields.labels.content}}</label>
              <textarea type="text" class="form-control" id="content" required [(ngModel)]="comment.content" name="content"
                #content="ngModel"></textarea>
              <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                {{translationFields.messages.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success spacing-top" [disabled]="!createOrderForm.form.valid || datePickerError">{{translationFields.labels.submit}}</button>
    </form>

    <!-- Print comments to this order as a table -->
    <div *ngIf="editView">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>{{translationFields.labels.comments}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.author}}</th>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.content}}</th>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.createdAt}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of order.comments">
                <td class="align-middle text-center">{{comment.authorName}}</td>
                <td class="align-middle text-center">{{comment.content}}</td>
                <td class="align-middle text-center">{{comment['shownCreatedAt']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Submit Comment Form -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>{{translationFields.labels.newComment}}</h5>
        </div>
      </div>
    </div>

    <form *ngIf="editView" (ngSubmit)="onSubmitComment(createCommentForm)" #createCommentForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="author">{{translationFields.labels.author}}</label>
          <input type="text" class="form-control" id="author" required name="author" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
            disabled>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="content">{{translationFields.labels.content}}</label>
          <textarea type="text" class="form-control" id="content" required [(ngModel)]="comment.content" name="content"
            #content="ngModel"></textarea>
          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
            {{translationFields.messages.content}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createCommentForm.form.valid || submitting">{{translationFields.labels.sendComment}}</button>
    </form>
  </div>
</div>