input[type="checkbox"]:required:invalid+label {
    color: red;
}

input[type="checkbox"]:required:valid+label {
    color: green;
}

.center-buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: unset !important;
}

.center-buttons .btn-group {
    display: unset !important;
}