<router-outlet></router-outlet>
<ng-template #tipContent>{{translationFields.publicHint}}</ng-template>
<div class="row spacing">
  <div class="col-md-12 text-center">
    <h1>{{translationFields.title}}</h1>
  </div>
  <div class="container">
    <app-back-button class="spacing-right-xs"></app-back-button>
  </div>
</div>
<div class="row spacing">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #createOrderForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="projectname">{{translationFields.labels.projectName}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <input type="text" class="form-control" id="projectname" required [(ngModel)]="order.projectname" name="projectname"
            #projectname="ngModel">
          <div [hidden]="projectname.valid || projectname.pristine" class="alert alert-danger">
            {{translationFields.messages.projectName}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="owner">{{translationFields.labels.owner}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <input type="text" class="form-control" id="owner" required name="owner" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
            disabled>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="editor">{{translationFields.labels.editor}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingEditors" [items]=editors bindValue="_id" bindLabel="shownName" [(ngModel)]="order.editor"
            id="editor" name="editor" #editor="ngModel" [disabled]="!this.editView">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <div *ngIf="editView" class="col-md-12">
          <label for="status">{{translationFields.labels.status}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingStatus" [items]=translationFields.shownStatus bindValue="_id" bindLabel="name"
            [(ngModel)]="order.shownStatus" (change)="statusChanged(order.shownStatus)" id="status" name="status"
            #status="ngModel" required>
          </ng-select>
          <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
            {{translationFields.messages.status}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="selectedMachineType">{{translationFields.labels.machineType}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingMachineTypes" [items]=translationFields.shownMachineTypes [(ngModel)]="order.machine['shownType']"
            id="selectedMachineType" name="selectedMachineType" #selectedMachineType="ngModel" (change)="machineTypeChanged(order.machine['shownType'])"
            required>
          </ng-select>
          <div [hidden]="selectedMachineType.valid || selectedMachineType.pristine" class="alert alert-danger">
            {{translationFields.messages.machineType}}
          </div>
        </div>
      </div>
      <div *ngIf="order.machine.type" class="form-group row">
        <div class="col-md-6">
          <label for="selectedMachine">{{translationFields.labels.selectedMachine}}</label>
          <fa-icon class="spacing" [icon]="publicIcon" [ngbTooltip]="tipContent"></fa-icon>
          <ng-select [loading]="loadingMachinesForType" [items]=machines bindValue="_id" bindLabel="deviceName"
            [(ngModel)]="order.machine._id" id="selectedMachine" name="selectedMachine" #selectedMachine="ngModel"
            groupBy="fablabName" (change)="machineSelected(selectedMachine)" [virtualScroll]=true required>
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.fablabName || translationFields.messages.unnamedFablab}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{ item.deviceName }}
            </ng-template>
          </ng-select>
          <div [hidden]="selectedMachine.valid || selectedMachine.pristine" class="alert alert-danger">
            {{translationFields.messages.selectedMachine}}
          </div>
        </div>
        <div *ngIf="order.machine && order.machine.deviceName" class="col-md-4 offset-1">
          <label for="selectedMachineDetailView">{{translationFields.labels.selectedMachineInfo}}:</label>
          <div>
            <a [routerLink]="order.machine.detailView" name="selectedMachineDetailView">
              <button type="button" class="btn btn-primary">{{ order.machine.deviceName }}</button>
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="!editView">
        <div class="form-group row table-spacing">
          <div class="col-md-12 text-center">
            <h4>{{translationFields.labels.comments}}</h4>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label for="author">{{translationFields.labels.author}}</label>
            <input type="text" class="form-control" id="author" required name="author" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
              disabled>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label for="content">{{translationFields.labels.content}}</label>
            <textarea type="text" class="form-control" id="content" required [(ngModel)]="comment.content" name="content"
              #content="ngModel"></textarea>
            <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
              {{translationFields.messages.content}}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createOrderForm.form.valid">{{translationFields.labels.submit}}</button>
    </form>

    <!-- Print comments to this order as a table -->
    <div *ngIf="editView">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>{{translationFields.labels.comments}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.author}}</th>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.content}}</th>
                <th class="align-middle text-center" scope="col">{{translationFields.labels.createdAt}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of order.comments">
                <td class="align-middle text-center">{{comment.authorName}}</td>
                <td class="align-middle text-center">{{comment.content}}</td>
                <td class="align-middle text-center">{{comment['shownCreatedAt']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Submit Comment Form -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>{{translationFields.labels.newComment}}</h5>
        </div>
      </div>
    </div>

    <form *ngIf="editView" (ngSubmit)="onSubmitComment(createCommentForm)" #createCommentForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="author">{{translationFields.labels.author}}</label>
          <input type="text" class="form-control" id="author" required name="author" [value]="loggedInUser.firstname + ' ' + loggedInUser.lastname"
            disabled>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="content">{{translationFields.labels.content}}</label>
          <textarea type="text" class="form-control" id="content" required [(ngModel)]="comment.content" name="content"
            #content="ngModel"></textarea>
          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
            {{translationFields.messages.content}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createCommentForm.form.valid">{{translationFields.labels.sendComment}}</button>
    </form>
  </div>
</div>