<div class="modal-header header-primary">
  <h4 class="modal-title">{{translationFields.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label for="username" class="sr-only">{{translationFields.labels.username}}</label>
    <input type="text" id="username" #username="ngModel" class="form-control" placeholder={{translationFields.labels.username}}
      [(ngModel)]="loginData.username" name="username" />
    <label for="password" class="sr-only">{{translationFields.labels.password}}</label>
    <input type="password" id="password" #password="ngModel" class="form-control" placeholder={{translationFields.labels.password}}
      [(ngModel)]="loginData.password" name="password" />
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary spacing-top spacing-right" type="submit" [disabled]="!loginForm.form.valid">{{translationFields.labels.login}}</button>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-primary spacing-top" type="button" (click)="resetPassword(); activeModal.close();">{{translationFields.labels.resetPassword}}</button>
      </div>
    </div>
  </form>
</div>