<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{dropdown.name}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let item of dropdown.elements">
          <a *ngIf="item.href" class="dropdown-item" [href]="item.href">{{item.name}}</a>
          <a *ngIf="item.routerHref" class="dropdown-item" [routerLink]="item.routerHref" routerLinkActive="active">{{item.name}}</a>
        </div>
      </div>
    </div>
  </div>