<div *ngFor="let i of [1, 2]" [ngClass]="sideMenu ? 'navPanel-visible':''">
  <header id="{{(i == 1)?'header':'navPanel'}}" [ngClass]="{
    reveal: menuExtra,
    alt: !menuExtra,
    static: static,
    startpage: startpage
  }">
    <div class="closeMenu" *ngIf="i == 2">
      <a (click)="toggleSideMenu()">
        <fa-icon class="closeicon" [icon]="closeIcon"></fa-icon>
      </a>
    </div>
    <nav id="nav" class="grid">
      <div class="landscape-logo">
        <img *ngIf="startpage == true" src="/assets/img/startseite/neu/print4life-logo-1c.svg" alt="logo" (click)="_startPage()"/>
        <img *ngIf="startpage == false" src="/assets/img/print4life_Logo-landscape.svg" alt="logo" (click)="_startPage()"/>
      </div>
      <div class="row">
        <div class="col-3 col-lg-4">
          <h1 *ngIf="startpage == true" >    <img id="logo" src="/assets/img/startseite/neu/print4life-logo-1c.svg" alt="logo" (click)="_startPage()"/></h1>
          <h1 *ngIf="startpage == false" ><img id="logo" src="/assets/img/print4life_Logo.svg" alt="logo" (click)="_startPage()"/></h1>
        </div>
        <div class="links col-9 col-lg-8">
          <ul>
            <li *ngIf="!userIsLoggedIn" class="current"><a [routerLink]="['']" (click)="toggleSideMenu()">Startseite</a></li>
            <li class="dropdown" *ngIf="userIsLoggedIn">
              <a class="underline" [routerLink]="[allOrdersLink]">
                Aufträge
              </a>
              <!--<ul>
                <li>
                  <a (click)="toggleSideMenu()" [routerLink]="[allOrdersLink]">
                    Alle Aufträge
                  </a>
                </li>
                <li *ngIf="userType==='maker'">
                  <a (click)="toggleSideMenu()" [routerLink]="[myOrdersLink]">
                    Angenommene Aufträge
                  </a>
                </li>
                <li>
                  <a (click)="toggleSideMenu()" [routerLink]="[openOrdersLink]">
                    Offene Aufträge
                  </a>
                </li>
                <li>
                  <a (click)="toggleSideMenu()" [routerLink]="[closedOrdersLink]">
                    Erledigte Aufträge
                  </a>
                </li>
                <li *ngIf="userType==='klinik'">
                  <a (click)="toggleSideMenu()" [routerLink]="[createOrderLink]">
                    Neuen Auftrag anlegen
                  </a>
                </li>
              </ul>-->
            </li>
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[aboutUsLink]" (click)="toggleSideMenu()">Über print4life</a>
            </li>
            <li>
              <a [routerLink]="[faqLink]" (click)="toggleSideMenu()">FAQ</a>
            </li>
            <li>
              <a [routerLink]="[contactLink]" fragment="{{contactFragment}}" (click)="toggleSideMenu()">Kontakt</a>
            </li>
            <!--
            <li *ngIf="!userIsLoggedIn">
              <a (click)="_register()" class="(i == 1)?'button primary':''">Sign Up</a>
            </li>
            -->
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[loginLink]" [ngClass]="(i == 1)?'button primary':''" class="underline"
                (click)="toggleSideMenu()">Anmelden</a>
            </li>
            <li class="dropdown account" *ngIf="userIsLoggedIn">
              <div class="hint text-mid">
                Eingeloggt als
              </div>
              <div class="account-wrap" *ngIf="userType === 'klinik'">
                <a class="underline klinik">
                  {{hospital?.name}}
                </a>
              </div>
              <div class="account-wrap" *ngIf="userType === 'maker'">
                <a class="underline maker">
                  {{user.firstname}} {{user.lastname}}
                </a>
              </div>
              <ul [ngClass]="{
                  maker: userType === 'maker',
                  klinik: userType === 'klinik'
                }">
                <li>
                  <a (click)="toggleSideMenu()" (click)="_profile()">
                    Profile
                  </a>
                </li>
                <li>
                  <a (click)="toggleSideMenu()" (click)="_logout()">
                    Abmelden
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

<div id="navButton">
  <a class="toggle" (click)="toggleSideMenu()">
    <fa-icon class="menuicon" [icon]="menuIcon"></fa-icon>
  </a>
</div>
