<div *ngFor="let i of [1, 2]" [ngClass]="sideMenu ? 'navPanel-visible':''">
  <header id="{{(i == 1)?'header':'navPanel'}}" [ngClass]="menuExtra ? 'reveal':'alt'">
    <div class="closeMenu" *ngIf="i == 2">
      <a (click)="toggleSideMenu()">
        <fa-icon class="closeicon" [icon]="closeIcon"></fa-icon>
      </a>
    </div>
    <nav id="nav" class="grid">
      <div class="row">
        <div class="col-3 col-lg-6">
          <h1><a [routerLink]="['']"><img id="logo" src="/assets/img/logo.svg" alt="logo" /></a></h1>
        </div>
        <div class="col-9 col-lg-6">
          <ul>
            <li class="current"><a [routerLink]="['']">Startseite</a></li>
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[aboutUsLink]">Über Print4Life</a>
            </li>
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[faqLink]">FAQ</a>
            </li>
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[contactLink]" fragment="{{contactFragment}}">Kontakt</a>
            </li>
            <li *ngIf="userIsLoggedIn" class="nav-item right-stretch">
              <app-dropdown [dropdown]="machineDropdown">
              </app-dropdown>
            </li>
            <li *ngIf="userIsLoggedIn" class="nav-item right-stretch">
              <app-dropdown [dropdown]="orderDropdown">
              </app-dropdown>
            </li>
            <li *ngIf="userIsLoggedIn" class="nav-item right-stretch">
              <app-dropdown [dropdown]="fablabDropdown">
              </app-dropdown>
            </li>
            <li *ngIf="userIsLoggedIn" class="nav-item right-stretch">
              <app-dropdown [dropdown]="userDropdown">
              </app-dropdown>
            </li>
            <li *ngIf="userIsLoggedIn" class="nav-item right-stretch" >
              <app-dropdown [dropdown]="languageDropdown" (switchLanguageEvent)="switchLanguage($event)"></app-dropdown>
            </li>
            <!--
            <li *ngIf="!userIsLoggedIn">
              <a (click)="_register()" class="(i == 1)?'button primary':''">Sign Up</a>
            </li>
            -->
            <li *ngIf="!userIsLoggedIn">
              <a [routerLink]="[loginLink]" [ngClass]="(i == 1)?'button primary':''" class="underline">Anmelden</a>
            </li>
            <li *ngIf="userIsLoggedIn">
              <a (click)="_logout()" [ngClass]="(i == 1)?'button primary':''">Abmelden</a>
            </li>
          </ul>
        </div>

      </div>
      
    </nav>
  </header>
</div>

<div id="navButton">
  <a href="#navPanel" class="toggle" (click)="toggleSideMenu()"><fa-icon class="menuicon" [icon]="menuIcon"></fa-icon></a>
</div>