/* .navbar {
    padding-right: 0px;
} */

@media only screen and (max-width: 1200px) and (min-width: 900px) {
    .navbar-nav {
        flex-direction: unset !important;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-left: 0px !important;
    }

    .nav-item button {
        width: 100%;
        margin-left: 0px !important;
    }

    .right-stretch {
        margin-right: -15px;
    }

    .navbar-toggler {
        position: absolute;
        right: 20px;
        top: 10px;
    }
}
#navPanel {
    display:none;
}
#logo {
    height: 154px;
    padding-top: 38px;
}


#nav a:hover {
    color:#5286A4;
    text-decoration: none;
}

#header {
    background-color: #F7F7F7;
}

#header nav ul li {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    line-height: 160px;
    vertical-align: middle;
}

#header nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

#header nav ul li {
    flex-grow: 1;
}

#header nav ul li:nth-last-child(1) {
    flex-grow: 0;
}

.row > div{
    padding: 0px;
    margin: 0px;
}

.underline {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style:solid;
    border-bottom-color: #334d5c;
    border-bottom-width: 3px;
    box-shadow: 0px 4px 4px -6px black;
}