
<div id="general" class="gray-box">
    <div class="grid">
        <div class="col-12 col-lg-6 indent-right general-text">
                <h1>Gemeinsam drucken in der Not</h1>
                <p>
                    Print4Life führt Maker und Suchende zusammen, um <strong>Lücken in der Versorgung</strong> zu schließen, welche durch <strong>3D-gedruckte oder genähte Teile</strong> überbrückt werden können.
                </p>
                <ul class="indent-left list-with-arrows">
                    <li><strong>Du bist ein Maker </strong>mit Zugriff auf einen 3D-Drucker oder eine Nähmaschine?</li>
                    <li><strong>Du arbeitest im Gesundheitswesen oder systemrelevanten Beruf </strong>und benötigst dringend Versorgungsgüter?</li>
                </ul>
                <p>
                    Melde dich unverbindlich an.
                </p>
        </div>
        <div class="col-12 col-lg-6 general-image">
            <img id="general-img" src="/assets/img/generalImg.png" alt="General image">
        </div>
        <div class="small-clear">
        </div>
        <div class="button-bar col-12 col-lg-6">
            <button mat-raised-button color="primary" (click)="register('maker')">Als Maker registrieren</button>
            <button mat-raised-button color="accent" (click)="register('klinik')">Als Suchender registrieren</button>
        </div>
    </div>
</div> <!--End of general-->

<div id="howto">
    <div class="grid">
        
        <h1 class="space">Wie funktioniert's?</h1>
        <div class="maker-howto col-12 col-lg-6 indent-right indent-left">
            <h1>Maker</h1>
            <div class="maker-underline"></div>
            <div class="howto-list center-text howto-basic">
                <div class="maker-text">
                    <ul class="list-with-checkmarks">
                        <li><a href="">Registriere dich </a></li>
                        <li>Bestätige deine E-Mail-Adresse</li>
                        <li class="normal-text no-icon">Los geht's!</li>
                    </ul>
                </div>
            </div>
            <div class="howto-list">
                Du siehst eine Übersicht von angeforderten Aufträgen.
                <div class="maker-text">
                    <ul class="list-with-arrows-small">
                        <li><a href="">Suche dir einen Auftrag aus</a></li>
                        <li>Lege fest, wie viele Hilfsgüter du innerhalb der <strong>nächsten 2 Tage</strong> zum Gesamtvolumen des Auftrags beisteuern kannst</li>
                    </ul>
                </div>
                <div class="center-text">
                    <img id="howto-image-search" src="/assets/img/howtoIllustrationen/print4life-Maker-suchen.png" alt="Suchender Maker">
                </div>
            </div> 

            <div class="howto-list">
                In deiner Übersicht kannst du einsehen, an welchen Aufträgen du beteiligt bist.
                <div class="maker-text">
                    <ul class="list-with-arrows-small">
                        <li>Fertige die angegebenen Hilfsgüter an</li>
                    </ul>
                </div>
                <div class="center-text">
                    <img id="howto-image-print" src="/assets/img/howtoIllustrationen/print4life-Maker-drucken.png" alt="Druckender Maker">
                </div>
            </div>

            <div class="howto-list">
               Du hast die Hilfsgüter fertig gedruckt.
                <div class="maker-text">
                    <ul class="list-with-arrows-small">
                        <li>Schicke sie <strong>mit der Post </strong>zur angegebenen Adresse</li>
                        <li>Setze deinen Auftrag auf "<strong>erledigt</strong>"</li>
                    </ul>
                </div>
                <div class="center-text">
                    <img id="howto-image-deliver" src="/assets/img/howtoIllustrationen/print4life-Maker-erledigt.png" alt="Maker">
                </div>
            </div>
            <h1>Fertig!</h1>
            <div class="howto-list center-text">
                Hast du noch freie Kapazitäten?
                 <div class="maker-text">
                     <ul>
                         <li>Nimm gerne weitere Aufträge an.</li>
                     </ul>
                 </div>
             </div>


                     
        </div> <!--End of maker howto-->
        <div class="clinic-howto col-12 col-lg-6 indent-left indent-right">
            <h1>Suchender</h1>
            <div class="clinic-underline"></div>
            <div class="howto-list center-text howto-basic">
                <div class="clinic-text">
                    <ul class="list-with-checkmarks">
                        <li class="icon--red"><a href="">Registriere dich </a></li>
                        <li class="icon--red">Bestätige deine E-Mail-Adresse</li>
                        <li class="normal-text icon--blue">Innerhalb von 24 Stunden wirst du von Print4Life <strong>verifiziert</strong> und für Aufträge <strong>freigeschaltet.</strong></li>
                        <li class="normal-text no-icon">  Los geht's! </li>
                    </ul>
                </div>
               
            </div>
            <div class="howto-list">
                Du siehst eine Übersicht deiner Aufträge.
                <div class="clinic-text">
                    <ul class="list-with-arrows-small list-with-arrows-small--red">
                        <li><a href="">Lege einen Auftrag an.</a></li>
                     </ul>
                </div>
                <div class="center-text">
                    <img id="howto-image-order" src="/assets/img/howtoIllustrationen/print4life-Klinik-Druckauftrag.png" alt="Druckauftrag">
                </div>
            </div> 
            <div class="howto-list">
                Du kannst jederzeit einsehen, wie viele Maker an deinem Auftrag arbeiten und wie viele Hilfsgüter-Pakete bereits fertig gestellt wurden.
                
                <div class="center-text">
                    <img id="howto-image-wait" src="/assets/img/howtoIllustrationen/print4life-Klinik-mitverfolgen.png" alt="Bestellverlauf verfolgen">
                </div>
            </div>

            <div class="howto-list">
               Die Hilfsgüter bekommst du direkt von den Makern per Post in die Klinik geschickt.
                <div class="center-text">
                    <img id="howto-image-receive" src="/assets/img/howtoIllustrationen/print4life-Klinik-Post.png" alt="Sendung empfangen">
                </div>
            </div> 

            <h1>Fertig!</h1>
            <div class="howto-list center-text">
               Was fehlt noch?
                 <div class="clinic-text">
                     <ul>
                         <li>Lege gerne weitere Aufträge an.</li>
                     </ul>
                 </div>
             </div>
        </div> <!--End of clinic howto-->
        <br style="clear:both">

    </div> <!--End of grid-->
</div> <!--End of howto-->

<div class="portfolio gray-box">
    <div class="grid">
        <h1>
            Gemeinsam viel erreichen!
        </h1>
        <div class="subtitle">
            Es gibt <b>viele Wege</b> hier mitzumachen:
        </div>
        <div class="portfolio_grid indent-left indent-right">
            <div class="row">
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">Maker</h1>
                    <div>
                        Dein <b>Know-How</b> und deine Maschine(n) für Aufträge zur Verfügung stellen
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">FabLab</h1>
                    <div>
                        Deine <b>Vereinsmitglieder</b> und/oder Maschine(n) für Aufträge zur Verfügung stellen    
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Arztpraxis</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein <b>medizinisches Personal</b>
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Apotheke</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein <b>pharmazeutisches Personal</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">Näher*in</h1>
                    <div>
                        Dein Know-How und deine Maschine(n) für Aufträge zur Verfügung stellen
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">Näherei</h1>
                    <div>
                        Deine Mitarbeiter*innen und/oder Maschine(n) für Aufträge zur Verfügung stellen
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Klinik</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein <b>medizinisches Personal</b>
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Altenpflege</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein <b>medizinisches Personal</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">Unternehmen</h1>
                    <div>
                        Deine Mitarbeiter*innen und/oder Maschine(n) für Aufträge zur Verfügung stellen
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="maker">Uni/FH</h1>
                    <div>
                        Deine Student*innen und/oder Maschine(n) zur Verfügung stellen
                    </div>
                </div>
                
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Supermarkt</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein <b>systemrelevantes Personal</b>
                    </div>
                </div>
                <div class="part col-12 col-md-6 col-lg-3">
                    <h1 class="klinik">Notbetreuung</h1>
                    <div>
                        Schutzkleidung und Hilfsgüter für dein*e <b>Erzieher*innen von Kindergärten & Schulen</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="signup_buttons indent-left indent-right">
            <div class="col-12 col-md-6">
                <button mat-raised-button color="primary" (click)="register('maker')">Als Maker registrieren</button>
            </div>
            <div class="col-12 col-md-6">
                <button mat-raised-button color="accent" (click)="register('klinik')">Als Suchender registrieren</button>
            </div>
        </div>
    </div>       
</div> <!--End of Portfolio-->

<div id="products">
    <div class="grid">
        <h1> Was wir leisten können </h1>
        <div>Einige Produktbeispiele</div>
        <div class="col-12 col-lg-6 indent-right indent-left left-product">
            <div class="product-item">
                <div>
                    <img class="product-image" src="/assets/img/faceshield.jpg" alt="Faceshield">
                </div>
                <div class="product-text">
                    Die sogenannten Faceshields sind aktuell sehr beliebt, um Menschen vor fliegenden Tröpfchen zu schützen.
                    Weltweit werden verschiedene Modelle gefertigt und in diversen medizinischen Einrichtungen eingesetzt.
                    Bei dem Faceshield handelt es sich um eine PET-Folie, welche vor dem Gesicht des Anwenders positioniert ist.
                    Der 3D-Gedruckte Halter des Shields wird aus Polyethylenterephthalat mit Glykol (kurz PETG) gefertigt.
                    Die Halterung kann individuell über ein Gummiband an die Kopfform des Anwenders angepasst werden.
                    Wir präferieren ein Modell, welches im FabLab Lübeck designt und der Allgemeinheit zur freien Verfügung bereitgestellt wurde.
                </div>
            </div>




            

        </div>

        <div class="col-12 col-lg-6 indent-right indent-left right-product">
            <div class="product-item">
                <div>
                    <img class="product-image" src="/assets/img/maskenhalter.jpg" alt="Masken Halterung">
                </div>
                <div class="product-text">
                    Die Gummibänder der Gesichtsmasken können mit der Zeit ziemlich unangenehm werden. Ein 3D-Gedruckter Halter schafft hier Abhilfe.
                    Das Gummiband der Maske kann am Halter festgemacht werden, welcher sich am Hinterkopf des Anwenders befindet.
                    Der Halter wird aus PETG gefertigt und kann mehrfach verwendet werden.
                    Ein Halter dauert im Druck in etwa 15 Minuten
                </div>
            </div>


            <div class="product-item">
                <div>
                    <img class="product-image" src="/assets/img/maske.jpg" alt="Genähte Maske">
                </div>
                <div class="product-text">
                    Selbstgenähte Masken werden aktuell in den Medien heiß diskutiert.
                    Diverse Privatpersonen engangieren sich zur Zeit und nähen verschiedene Modelle der improvisierten Mund-Nase-Bedeckungen. 
                </div>
            </div>
        </div>
        <br style="clear:right">
    </div>
</div>

<div id="community-files">
    <div class="grid">
        <div class="large-indent-right large-indent-left">
            <h1>Und es wird laufend mehr</h1>
            <div class="community-text">
                Hast du STL-Dateien, Anleitungen oder Schnittmuster? Teile sie mit der Community und stelle sie zum Nachmachen zur Verfügung!
            </div>
            <div class="community-button">
                <button mat-raised-button color="primary" [routerLink]="[contactLink]" fragment="{{contactFragment}}">Kontaktiere uns</button>      
            </div>
        </div>
    </div>
</div>

<div id="FAQ" class="gray-box">
    <div class="grid">
        <h1 class="center-text">Häufig gestellte Fragen</h1>
        <div class="col-12 col-lg-6 indent-right indent-left left-faq">
            <h1 class="neutral">Wie setzen sich die Kosten für Suchende zusammen?</h1>
            <div class="text-faq">
                <ul>
                    <li>Die Suchenden zahlen den Makern die Materialkosten, Versandkosten und einen geringen Prozentsatz für die Abnutzung der Maschinen aus. Dies wird im Vorhinein berechnet und ist als Aufwandsentschädigung bei verfügbaren Teilen anzusehen.</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-6 indent-right indent-left right-faq">
            <h1 class="neutral">Wie kann ich helfen dieses Projekt bekannt zu machen?</h1>
            <div class="text-faq">
                <ul>
                    <li>Je größer die Community ist, desto mehr können wir schaffen. Uns hilft alles: Berichte in der Presse, in Newslettern, auf Social Media. Auf <a href="">Presse</a> findest du Material, das bei Bedarf verwendet, weitergegeben und veröffentlicht werden darf. </li>
                </ul>
            </div>
            
        </div>
        <br style="clear:left">
        <div class="faq-button">
            <button mat-raised-button class="neutral" [routerLink]="[contactLink]">Weitere Fragen ansehen</button>      
    
        </div>
    </div>
</div>

<div id="newsletter">
    <div class="grid">
        <div class="large-indent-left large-indent-right">
            <h1>Keine Neuigkeiten verpassen?</h1>
            <div class="newsletter-text">
                Trage Dich für unseren Newsletter ein, <br>
                 um auf dem Laufenden zu bleiben:
            </div>
            <div class="newsletter-input">
                <button mat-raised-button class="neutral">In den Newsletter eintragen</button>      
            </div>
        </div>
    </div>
</div>

<div id="newsticker">
    <div class="grid">
        <div class="indent-left indent-right">
            <h1 class="center-text">Newsticker</h1>
            <div class="col-12 col-lg-6 left-newsticker indent-left indent-right">
                <div>
                    <img class="newsticker-image" src="/assets/img/news1.png">
                </div>
                <div class="newsticker-date">
                    02. April 2020
                </div>
                <h1>Wir sind in den Top 20!</h1>
                <div class="newsticker-text">
                    Die Idee unserer Plattform fand großen Anklang - das Projekt wurde von der Jury in die TOP 20 gewählt. In den nächsten Wochen wird print4life durch das Solution-Enabler-Programm zur weiteren Umsetzung gefördert, es bleibt spannend.
                </div>
            </div>
            <div class="col-12 col-lg-6 right-newsticker indent-right indent-left">
                <div>
                    <img class="newsticker-image" src="/assets/img/news2.jpg">
                </div>
                <div class="newsticker-date">
                    21. März 2020
                </div>
                <h1>WirVsVirus Hackathon</h1>
                <div class="newsticker-text">
                    Am Wochenende vom 21.03. hat unser 9-Köpfiges Team am WirVsVirus Hackathon teilgenommen. Über 40.000 registrierte Teilnehmer hackten und bastelten in 2 Tagen an ca. 1500 Projekten.
                </div>
            </div>
        </div>
        <br style="clear:both">
    </div>
</div>
