#frontpage-container {
    width: 100%;
    max-width: unset !important;
}

#frontpage-container .img-responsive {
    height: 35%;
    /* margin-left: 20% !important; */
}

#frontpage-container .logo-container {
    position:relative;
    width: 100%;
    height: 100%;
}

#frontpage-container .logo-container img {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding-top: 0px !important;
    height: 70%;
    max-width: 90%;
    
}

.subtitle-font, .subtitle-font button {
    font-size: 0.8rem;
}

.subtitle-font {
    padding-top:3% !important;
}

#login-container-inner {
    padding-left: 30px !important;
}

#login-container-inner  .row:nth-child(1) {
    border-bottom: #003a54 3px solid;
}

#login-container {
    background-color:rgba(248, 249, 250, 0.6);
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 6px;
}

#bottom-filler-row {
    height: 75px;
}

.hide-large-center {
    display: none !important;
}

.hide-small-center {
    width: 100%;
    height: 100%;
}

.logo-row div {
    margin-bottom: 20px !important;
}

#main-logo {
    height: 60px !important;
    margin-bottom: 100px;
}

.app-logo {
    max-height: 50px !important;
}

#frontpage-container > .row:nth-child(1) {
    margin-bottom: 50px;
}

.logo-row {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

@media only screen and (max-width: 1200px) {
    #login-container-inner .row:nth-child(1) {
        display:inherit;
    }
    #login-container-inner .row:nth-child(1) .logo-container {
        width: 100%;
    }
    #login-container-inner .row:nth-child(1) .logo-container img {
        position:relative;
        width: 100%;
        max-width: 100%;
        transform: none;
        -webkit-transform: none;
    }

    .logo-container {
        margin-bottom: 20px;
    }

    .logo-container img{
        max-height: 120px;
    }
    #login-container-inner h3 {
        text-align: center;
    }
    
    .hide-large-center {
        display: inline-block !important;
        width: 100% !important;
        height: 100% !important;
    }
    
    .hide-small-center {
        display:none !important;
    }

    #login-container-inner  .row:nth-child(1) {
        border-bottom: none;
    }

    #frontpage-container .row .col-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    #frontpage-container #login-container {
        flex: 0 0 60%;
        max-width: 60%;
    }
}


@media only screen and (max-width: 440px) {
    #frontpage-container .row .col-4 {
        flex: 0 0 0%;
        max-width: 0%;
    }

    #frontpage-container #login-container {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #frontpage-container {
        padding-right: 0px;
    }

    .logo-row {
        margin-left: 0px !important;
    }

    .logo-container img {
        min-width: 100px;
    }

    h3 {
        font-size: 1.6rem !important;
    }

}
