
<div style="height: 100px">
    <div class="grid">
        <mat-form-field appearance="outline" class="large-label">
            <mat-label>Filter nach Status</mat-label>
            <mat-select [(ngModel)]="filterStatus" (selectionChange)="filter()">
                <mat-option value="all">
                    Alle Aufträge
                </mat-option>
                <mat-option value="in progress">
                    Aufträge in Arbeit
                </mat-option>
                <mat-option *ngIf="this.userType === 'maker'" value="open">
                    Offene Aufträge
                </mat-option>
                <mat-option value="closed">
                    Erledigte Aufträge
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="this.userType === 'klinik'" mat-raised-button color="accent" [routerLink]="[createOrderLink]">Neuen Auftrag anlegen</button>
    </div>
</div>
<p *ngIf="isEmpty" class="text-center">Leider keine Aufträge gefunden</p>
<div class="grid-3">
    <div class="" *ngFor="let order of orders">
        <div class="order"  [ngClass]="{
            'finished': order.myFinishedBatch > 0 && order.myAcceptedBatch === 0 || userType === 'klinik' && order.batch.remaining === 0 && order.batch.acceptedCount === 0,
            'participating': order.participating || userType === 'klinik' && order.own && order.batch.remaining > 0
        }">
            <div class="inner indent-left indent-right">
                <div class="statusBadge participatingBadge">
                    In Arbeit
                </div>
                <div class="statusBadge finishedBadge">
                    Erledigt
                </div>
                <div class="title">
                    {{order.blueprint.name}}
                </div>
                <div class="maker text-mid count" *ngIf="order.myAcceptedBatch !== 0">
                    Du bist für {{order.myAcceptedBatch}} Stück eingetragen
                </div>
                <div class="maker text-mid count" *ngIf="order.myAcceptedBatch === 0 &&  order.myFinishedBatch > 0">
                    Du hast {{order.myFinishedBatch}} Stück beigetragen
                </div>
                <div class="klinik text-mid count" *ngIf="order.myAcceptedBatch === 0 && order.myFinishedBatch === 0">
                    {{order.batch.number}} Stück
                </div>
                <br>
                <img [src]="order.blueprint.imageURL">
                <p class="location">
                    <fa-icon class="locationIcon" [icon]="locationIcon" ></fa-icon>
                    <span *ngIf="order.distance > 0">
                        {{order.shippingAddress.city}} (~{{order.distance | number:'1.1-1'}}km)
                    </span>
                    <span *ngIf="! (order.distance > 0)">
                        {{order.shippingAddress.city}}
                    </span>
                    <br>
                </p>
                <div class="klinikname">
                    {{order?.hospital?.name}}
                </div>
                <div class="chart" *ngIf="order.batchData">
                    <div class="row">
                        <div class="col-4 text-small">
                            Offen
                        </div>
                        <div class="col-4 text-small">
                            Vergeben
                        </div>
                        <div class="col-4 text-small">
                            Erledigt
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-small remaining">
                            {{order.batch.remaining}}
                        </div>
                        <div class="col-4 text-small accepted">
                            {{order.batch.acceptedCount}}
                        </div>
                        <div class="col-4 text-small finished">
                            {{order.batch.finishedCount}}
                        </div>
                    </div>
                    <div class="barchart" fxLayout="row" fxLayoutGap="0px">
                        <div *ngIf="order.batch.remaining > 0" [fxFlex]="order.batch.remaining/order.batch.number*100" class="remaining"></div>
                        <div *ngIf="order.batch.acceptedCount > 0" [fxFlex]="order.batch.acceptedCount/order.batch.number*100" class="accepted"></div>
                        <div *ngIf="order.batch.finishedCount > 0" [fxFlex]="order.batch.finishedCount/order.batch.number*100" class="finished"></div>
                    </div>
                    <!--
                    <canvas
                        baseChart
                        [data]="order.batchData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"
                    >
                    </canvas>
                    -->
                </div>
                <ul class="list-with-arrows text-mid" *ngIf="!order.showInput">
                    <li *ngIf="order.myAcceptedBatch > 0">
                        <a (click)="finishOwnBatch(order)">
                            Auftrag auf "Erledigt" setzen
                        </a>
                    </li>
                    <li *ngIf="order.myFinishedBatch > 0 || order.myAcceptedBatch > 0">
                        <a [routerLink]="[orderShippingRoute + '/' + order._id]">
                            Versanddaten anzeigen
                        </a>
                    </li>
                </ul>
                <div class="buttons text-mid">
                    <div class="iconbutton text-center support" *ngIf="order.batch.remaining > 0 && order.myFinishedBatch !== 0 && order.myAcceptedBatch === 0 && !order.showInput">
                        <button mat-raised-button color="primary" class="text-mid" (click)="order.toggleInput()">Erneut unterstützen</button>
                    </div>
                    <div class="iconbutton text-center support" *ngIf="order.batch.remaining > 0 && order.myFinishedBatch === 0 && order.myAcceptedBatch === 0 && !order.showInput && userType === 'maker'">
                        <div class="maker">
                            Möchtest du diese Einrichtung unterstützen?
                        </div>
                        <button mat-raised-button color="primary" class="text-mid" (click)="order.toggleInput()">Unterstützen</button>
                    </div>
                    <div class="iconbutton support" *ngIf="order.batch.remaining > 0 && order.myAcceptedBatch === 0 && order.showInput && userType === 'maker'">
                        <div class="maker">
                            Welche Stückzahl schaffst du innerhalb der nächsten 2 Tage?
                        </div>
                        <div class="inputButtonCombi">
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="order.myNewAcceptedBatch">
                            </mat-form-field>
                            <button mat-raised-button color="primary" class="text-mid" (click)="support(order)">Senden</button>
                            <br style="clear:right">
                        </div>
                    </div>
                    <div class="iconbutton support text-center maker" *ngIf="order.batch.remaining === 0 && order.batch.acceptedCount === 0">
                        <i>Abgeschlossener Auftrag</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>