<div #spinnerContainer>
  <ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
    [type]="spinnerConfig.type">{{spinnerConfig.loadingText}}</ngx-spinner>
</div>
<div>
  <div class="row spacing text-center">
    <div class="col-md-12 text-center">
      <h1>{{order.projectname}}</h1>
    </div>
    <div class="col-md-4 col-xl-3">
      <app-back-button class="spacing-right-xs"></app-back-button>
      <app-edit-button [editLink]="editLink"
        *ngIf="order.shared || (userIsLoggedIn && loggedInUser && (loggedInUser && loggedInUser._id && owner && owner._id && loggedInUser._id === owner._id || loggedInUser.role && loggedInUser.role.role && (loggedInUser.role.role === 'editor' || loggedInUser.role.role === 'admin')))">
      </app-edit-button>
      <app-delete-button
        *ngIf="userIsLoggedIn && loggedInUser && (loggedInUser._id && owner && owner._id && loggedInUser._id === owner._id || loggedInUser.role && loggedInUser.role.role && (loggedInUser.role.role === 'editor' || loggedInUser.role.role === 'admin'))"
        class="spacing-right-xs" (click)="delete()"></app-delete-button>
      <button
        *ngIf="machine && machine.type === '3d-printer' && userIsLoggedIn && loggedInUser && loggedInUser.role && loggedInUser.role.role && (loggedInUser.role.role === 'editor' || loggedInUser.role.role === 'admin')"
        (click)="startPrintJob()" [disabled]="!printFilesAvailable" [title]="translationFields.tooltips.print"
        type="button" class="btn btn-primary spacing-right-xs">
        <fa-icon [icon]="processIcon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="order.files && order.files.length > 0">
    <div class="carousel-container col-md-11 table-spacing">
      <ngb-carousel #carousel 
          [pauseOnHover]="true"
          interval="10000">
        <div *ngFor="let file of order.files; index as i">
          <ng-template ngbSlide *ngIf="(file.contentType=='image/png' || file.contentType=='image/jpeg') && !file.deprecated">
            <div class="picsum-img-wrapper">
              <div *ngIf="!(file.contentType=='application/sla')">
                <div class="vertical-helper">
                </div>
                <img [src]="file.link" alt="Gallery Picture {{i + 1}}">
                <div class="image-blur">
                </div>
              </div>
              <!--
              stl-model-viewer requires typescript version 3.7 and up
              this has to wait for the angular upgrade
              -->
              <div *ngIf="file.contentType=='application/sla'">
                <stl-model-viewer stlModel="file.link"></stl-model-viewer>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>
  </div>
    <!--
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item >
        <div class="view w-100">
          <img class="d-block w-100" [src]="file.link" alt="file.link">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Light mask</h3>
          <p>file.filename</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    -->
  <div class="row">
    <div class="col-md-11 table-spacing">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="align-middle text-center">{{translationFields.labels.owner}}</td>
            <td class="align-middle text-center">
              <a *ngIf=userIsLoggedIn [routerLink]="ownerLink">{{ owner.fullname }}</a>
              <span *ngIf=!userIsLoggedIn>{{ owner.fullname }}</span>
            </td>
          </tr>
          <tr *ngIf="order.shippingAddress">
            <td class="align-middle text-center">{{translationFields.labels.addressTitle}}</td>
            <td class="align-middle text-center">{{order.shippingAddress.street}}<br>{{order.shippingAddress.zipCode
              + " " +
              order.shippingAddress.city}}<br>{{order.shippingAddress.country}}</td>
          </tr>
          <tr>
            <td class="align-middle text-center">{{translationFields.labels.editor}}</td>
            <td class="align-middle text-center">
              <a *ngIf=userIsLoggedIn [routerLink]="editorLink">{{ editor.fullname }}</a>
              <span *ngIf=!userIsLoggedIn>{{ editor.fullname }}</span>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-center">{{translationFields.labels.status}}</td>
            <td class="align-middle text-center">
              <span class="badge badge-secondary">{{order['shownStatus']}}</span>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-center">{{translationFields.labels.createdAt}}</td>
            <td class="align-middle text-center">{{order['shownCreatedAt']}}</td>
          </tr>
          <tr *ngIf="schedule && schedule.startDate && schedule.endDate">
            <td class="align-middle text-center">{{translationFields.labels.scheduledFor}}</td>
            <td class="align-middle text-center">{{schedule.shownStartDate}} - {{schedule.shownEndDate}}</td>
          </tr>
          <tr *ngIf="machine">
            <td class="align-middle text-center">{{translationFields.labels.machine}}</td>
            <td class="align-middle text-center">
              <a *ngIf="userIsLoggedIn && machine.deviceName" [routerLink]="machine.detailView">{{ machine.deviceName
                }}</a>
              <span *ngIf="!userIsLoggedIn && machine.deviceName">{{ machine.deviceName }}</span>
              <span class="badge badge-secondary spacing">{{machine.shownType}}</span>
            </td>
          </tr>
          <tr *ngIf="fablab">
            <td class="align-middle text-center">{{translationFields.labels.fablab}}</td>
            <td class="align-middle text-center">
              {{fablab.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row spacing text-center">
    <div class="col-md-12">
      <h2>{{translationFields.labels.comments}}
        <span class="badge badge-primary spacing text-center">{{ order.comments.length }}</span>
      </h2>
    </div>
  </div>
  <div class="row spacing" *ngIf="order.comments && order.comments.length > 0">
    <div class="col-md-11 table-spacing">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.author}}</th>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.content}}</th>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.createdAt}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of order.comments">
            <td class="align-middle text-center">
              <a *ngIf="userIsLoggedIn" [routerLink]="comment.link">{{comment.authorName}}</a>
              <span *ngIf="!userIsLoggedIn">{{comment.authorName}}</span>
            </td>
            <td class="align-middle text-center">{{comment.content}}</td>
            <td class="align-middle text-center">{{comment.shownCreatedAt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row spacing text-center">
    <div class="col-md-12">
      <h2>{{translationFields.labels.files}}
        <span class="badge badge-primary spacing text-center">{{ order.files.length }}</span>
      </h2>
    </div>
  </div>
  <div class="row spacing" *ngIf="order.files && order.files.length > 0">
    <div class="col-md-11 table-spacing">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.latestVersion}}</th>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.file}}</th>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.createdAt}}</th>
            <th class="align-middle text-center" scope="col">{{translationFields.labels.gallery}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of order.files">
            <td class="align-middle text-center">
              <fa-icon class="text-success" *ngIf="!file.deprecated" [icon]="toggleOnIcon"></fa-icon>
              <fa-icon class="text-danger" *ngIf="file.deprecated" [icon]="toggleOffIcon"></fa-icon>
            </td>
            <td *ngIf="userCanDownload" class="align-middle text-center"><a [href]="file.link">{{file.filename}}</a>
            </td>
            <td *ngIf="!userCanDownload" class="align-middle text-center">{{file.filename}}</td>
            <td class="align-middle text-center">{{file.shownCreatedAt}}</td>
            <td class="align-middle text-center">
              <fa-icon [icon]="file.gallery ? checkIcon : crossIcon"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>